#Sbmenu {
	width: 980px;
	margin: 0 auto;
	text-align: left;
	background-color: #fafafa;
	padding: 10px;
	font-size: 1em;
}

#Sbmenu a {
	color: #666;
}

.w12 tbody tr td {
	font-size: 12px;
	color: white;
}

#boxcenter table {
	width: 100%;
}

#xfts {
	float: left;
	width: 490px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	text-indent: 10px;
	background: #4079ae;
	margin-top: 5px;
}

#xfts_list {
	float: left;
	border: 1px #ededed solid;
}

#xfts_list table {
	width: 488px;
}

#yjzj {
	float: right;
	width: 490px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	text-indent: 10px;
	background: #4079ae;
	margin-top: 5px;
}

#yjzj_list {
	float: right;
	border: 1px #ededed solid;
}

#yjzj_list table {
	width: 488px;
}

#zxft {
	float: left;
	width: 490px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	text-indent: 10px;
	background: #4079ae;
	margin-top: 5px;
}

#zxft_list {
	width: 488px;
	border: 1px #ededed solid;
}

#zxft_list table tbody tr td table tbody tr td a img {
	height: 145px;
	width: 226px;
}

#zxft_list table {
	
}