@CHARSET "UTF-8";

.main {
	overflow: hidden;
}

.col {
	border: #CCC 1px solid;
	width: 998px;
}


h1 span { /*float:right;*/
	
}

h2 p {
	float: left;
	margin: 10px;
}

.block1 ul li span {
	float: right;
}

.block2 {
	width: 998px;
	clear: both;
	background-color: #FFF;
}

.block2 .title {
	font-size: 16px;
	font-weight: 400;
	height: 58px;
	border-bottom: 1px solid #ddd;
	background-color: #f8f9fa;
}

.block2 .title h1 span {
	float: right;
	line-height: 50px;
}

.block2 .txt {
	background-color: #FFF;
	line-height: 30px;
}
.block2 .title p,.block2 .title span,.block2 .title h3 {
	float: left;
	font-size: 16px;
	color: #4b4b4b;
	text-decoration: none;
	margin: 18px 15px 0 21px;
	line-height: 24px;
	font-weight: 700;
	padding-right: 15px;
	border-right: 1px dashed #ddd;
}

.block2 .title h3 span,.block2 .title h3 a {
	float: left;
	font-size: 16px;
	color: #4b4b4b;
	text-decoration: none;
	margin: 0px 0px 0 10px;
	line-height: 24px;
	font-weight: 700;
	padding-right: 15px;
	border-right: none;
}

#NewsShowConter_nav {
	position: relative;
	width: 978px;
	margin: 0 auto;
	text-align: left;
	background-color: #fafafa;
	padding: 10px;
	font-size: 1em;
	z-index: 1;
	border: #CCC 1px solid;
}

.txt table tbody tr td a {
	margin-left: 5px;
	text-align: left;
	display: block;
	width: 850px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	line-height: normal;
}

.txt li {
  padding: 10px;
  border-bottom: 1px #CCC dashed;
}

.txt ul li a {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	color: #666;
	float: left;
	width: 850px;
}

.more {
	display: block;
	float: right;
	margin: 22px 45px 20px 0px;
}

.img {
	width: 500px;
	float: left;
}

.img img {
	height: 280px;
	width: 400px;
	margin-left: 10px;
	margin-top: 10px;
}

.img2 {
	width: 500px;
	float: left;
}

.img2 img {
	height: 180px;
	width: 400px;
	margin-left: 10px;
	margin-top: 10px;
}

.txt2 {
	font-size: 16px;
	font-weight: 400;
	margin-top: 35px;
	margin-right: 65px;
	line-height: 25px;
}

.txt3 ul {
	font-size: 16px;
	font-weight: 400;
	margin-top: 35px;
	margin-right: 65px;
	line-height: 25px;
}

.txt3 li {
	float: left;
	width: 200px;
	line-height: 30px;
	display: block;
}

#fenlei ul {
	overflow: hidden;
	display: block;
	background-color: #fff;
}

#fenlei ul li {
	float: left;
	width: 190px;
	display: block;
}

#fenlei ul li a {
	height: 94px;
	line-height: 94px;
	color: #4b4b4b;
	font-size: 14px;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: #CCC 2px solid;
	padding: 30px;
	margin: 10px;
}