#hd-list ins{
  color:#FFFFFF
}

#xiao_hf{
    margin: 2px;
    display: block;
    float: left;
}
.main a {
	color: #fef8ec;
}

.main a:hover {
	text-decoration: underline;
	color: yellow;
}
#mhdt #mhdt-list a{
  width:230px;
}
#mhdt-list {
  padding-bottom: 18px;
}

.main li,.main tr {
	color: #fef8ec;
}
.parBd ul li i{
  	 background-image: url("../image/icon.png");
     background-repeat: no-repeat;
}
/**个人办事样式**/

.slide_grqydw{ width:255px;}
.slide_grqydw .parHd ul li{ width:81px;}
.slide_grqydw .parHd ul li a{ width:51px;}
.slide_grqydw .parBd{overflow:hidden;}
.slide_grqydw .parBd ul li{ width:84px; height:82px; float:left; border:1px #FFF solid;  overflow:hidden; position:relative;margin: 1px;}
.slide_grqydw .parBd ul li a{color: #626262;display:block;width:84px;height:27px;text-align:center;font-size:14px;padding-top:55px;}
.icon_fw i { position: absolute;background-position: -35px 0;width: 41px;height: 27px;display: block;top: 22px;left: 21px;z-index: 2;}
.icon_sb i{position: absolute;background-position:-35px -30px; width:36px; height:34px; display:block;  top:19px; left:23px; z-index:2;}
.icon_hj i{position: absolute; background-position:-35px -67px; width:26px; height:34px; display:block;  top:19px; left:28px; z-index:2;}
.icon_hysy i{position: absolute; background-position:-35px -104px; width:40px; height:35px; display:block;  top:17px; left:22px; z-index:2;}
.icon_ns i{position: absolute;background-position:-35px -142px; width:31px; height:29px; display:block;  top:19px; left:26px; z-index:2;}
.icon_crj i{position: absolute; background-position:-35px -174px; width:32px; height:35px; display:block;  top:17px; left:26px; z-index:2;}
.icon_ldjy i{ position: absolute;background-position:-35px -212px; width:25px; height:35px; display:block;  top:16px; left:29px; z-index:2;}
.icon_jy i{position: absolute; background-position:-35px -250px; width:29px; height:38px; display:block;  top:14px; left:26px; z-index:2;}
.icon_yl i{position: absolute; background-position:-35px -291px; width:37px; height:30px; display:block;  top:19px; left:23px; z-index:2;}

.icon_qy_01 i{ position: absolute;background-position:-568px 0; width:32px; height:33px; display:block; position:relative; top:18px; left:25px; z-index:2;}
.icon_qy_02 i{ position: absolute;background-position:-568px -38px; width:29px; height:35px; display:block; position:relative; top:17px; left:27px; z-index:2;}
.icon_qy_03 i{ position: absolute;background-position:-568px -78px; width:28px; height:34px; display:block; position:relative; top:19px; left:28px; z-index:2;}
.icon_qy_04 i{ position: absolute;background-position:-568px -117px; width:39px; height:29px; display:block; position:relative; top:17px; left:24px; z-index:2;}
.icon_qy_05 i{ position: absolute;background-position:-568px -151px; width:32px; height:29px; display:block; position:relative; top:19px; left:26px; z-index:2;}
.icon_qy_06 i{ position: absolute;background-position:-568px -185px; width:41px; height:33px; display:block; position:relative; top:17px; left:20px; z-index:2;}
.icon_qy_07 i{position: absolute; background-position:-568px -221px; width:34px; height:34px; display:block; position:relative; top:16px; left:26px; z-index:2;}
.icon_qy_08 i{ position: absolute;background-position:-568px -260px; width:32px; height:32px; display:block; position:relative; top:17px; left:26px; z-index:2;}
.icon_qy_09 i{ position: absolute;background-position:-568px -297px; width:34px; height:38px; display:block; position:relative; top:16px; left:23px; z-index:2;}


#bzzn{
    width: 274px;
    background-color: #f6bb43;
    border: #f6bb43 4px solid;
    min-height: 119px;
    height: auto !important;
    position: relative;
}
#zt{
      background-color: #d870ad;
    border: #d870ad 4px solid;
      width: 162px;
}
#ggfw{
    width: 294px;
    margin: 2px;
    float: left;
}
#hd{
    background-color: #37bd9c;
    border: #37bd9c 4px solid;
    width: 400px;
    float: left;
        min-height: 241px;
    height: auto !important;
  
}
#bzzn-list li{
	margin-left: 125px;
    margin-top: 14px;
    position: relative;
    background-position: -139px -230px;
    width: 42px;
    height: 42px;
    display: block;
    top: 0px;
    /* left: 21px; */
    z-index: 2;
    background-image: url("../image/icon.png");
    background-repeat: no-repeat;
    float: left;
      margin-bottom: 8px; 
}
#bzzn h3{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 250px;
}
#qyzs li{
    margin-left: 90px;
    margin-top: 42px;
    position: relative;
    background-position: -420px -90px;
    width: 35px;
    height: 28px;
    display: block;
    top: 0px;
    /* left: 21px; */
    z-index: 2;
    background-image: url("../image/icon.png");
    background-repeat: no-repeat;
    float: left;
    margin-bottom: 8px;
}
#tstb li{
   margin-top: 42px;
    margin-right: 10px;
    position: relative;
    background-position: -420px -90px;
    width: 30px;
    height: 30px;
    display: block;
    top: 0px;
    z-index: 2;
    background-image: url("../image/icon.png");
    background-repeat: no-repeat;
    float: right;
}
#sqtz li{
   margin-top: 22px;
    margin-right: 10px;
    position: relative;
    background-position: -414px -55px;
    width: 30px;
    height: 30px;
    display: block;
    top: 0px;
    z-index: 2;
    background-image: url("../image/icon.png");
    background-repeat: no-repeat;
    float: right;
}
#zt li{
   margin-top: 22px;
    margin-right: 10px;
    position: relative;
    background-position: -418px -29px;
    width: 30px;
    height: 30px;
    display: block;
    top: 0px;
    z-index: 2;
    background-image: url("../image/icon.png");
    background-repeat: no-repeat;
    float: right;
}
#gggs ul,#sqtz ul,#zt ul{
  padding-bottom: 55px;
}
#gggs li{
    margin-top: 26px;
    margin-right: 10px;
    position: relative;
    background-position: -414px 0px;
    width: 30px;
    height: 30px;
    display: block;
    top: 0px;
    z-index: 2;
    background-image: url("../image/icon.png");
    background-repeat: no-repeat;
    float: right;
}

a,h1,h2,h3,h4 { /*color: #fef8ec;*/
	text-decoration: none;
}

h3 {
	padding: 8px;
	border-bottom: #FFF 2px solid;
	margin: 3px;
	font-size: 16px;
	color: #fef8ec;
}

#zwgk-title h3 span {
	font-size: 16px;
	font-weight: bold;
}

h3 a {
	font-size: 16px;
	font-weight: bold;
}

.slide {
	width: 400px;
	height: 316px;
	border: #CCC 4px solid;
	float: left;
	margin: 2px;
	padding: 0px;
	position: relative;
}

.slide img {
	width: 486px;
	height: 316px;
}

#slide_title {
	position: absolute;
	/* margin-top: -60px; */
	background-color: black;
	line-height: 40px;
	opacity: 0.7;
	filter: alpha(opacity =     70);
	bottom: 0;
	width: 100%;
	height: 40px;
}

#slide_title p {
	color: white;
	text-align: center;
}

.block1 {
	width: 127px;
	float: left;
	margin: 2px;
  min-height: 127px;
    height: auto !important;
}

#ftdt {
background-color: #169fa5;
    border: #169fa5 4px solid;
      width: 300px;
}
#ftdt table a{
   width: 260px;
}
#zwgk{
    background-color: #0c92d1;
    border: #0c92d1 4px solid;
      width: 262px;
	min-height: 89px;
    height: auto !important;
      display: block;
    float: left;
}
#tj {
  width: 262px;
	background-color: #f6bb43;
	border: #f6bb43 4px solid;
     min-height: 130px;
    height: auto !important;
}

#hkystj {
	width: 330px;
	border: #ec87c1 3px solid;
	background-color: #ec87c1;	
}

#ftjx {
  width: 400px;
	background-color: #22b658;
	border: #22b658 4px solid;
}

.block2 {
	width: 318px;
	float: left;
	margin: 2px;
   min-height: 231px;
    height: auto !important;
}

.block2 table a {
	display: block;
	width: 350px;
	margin-bottom: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

.block3 {
	width: 194px;
	float: left;
	margin: 2px;
    background-color: #3baeda;
    border: #3baeda 4px solid;
    text-align: center;
      min-height: 110px;
      height: auto !important;
  
}

#zjyj {
	width: 328px;
	min-height: 354px;
	background-color: #37bd9c;
	border: #37bd9c 4px solid;
}
#hd-list ul{
  margin: 20px 0px 0px 0px;
}
#jqrd {
	border: #e9573e 4px solid;
	background-color: #e9573e;
    width: 300px;
        min-height: 316px;
    height: auto !important;
}

#mhdt {
	text-align: left;
	border: #967bdc 4px solid;
	background-color: #967bdc;
    width: 262px;
    min-height: 179px;
    height: auto !important;
}

#tstb {
	border: #37bd9c 3px solid;
	background-color: #37bd9c;
}

#qyzs {
	border: #8dc153 3px solid;
	background-color: #8dc153;
}

#bzzn ul li {
	/*width: 270px;*/
}

#bzzn ul li a {
	width: 260px;
	display: block;
	margin-bottom: 3px;
}

#xfwq ul li a {
	width: 260px;
	display: block;
	margin-bottom: 3px;
}

#tshfxd {
	width: 328px;
	border: #fb6e52 4px solid;
	background-color: #fb6e52;
}

#xfts {
	width: 330px;
	border: #5937B2 4px solid;
	background-color: #5937B2;
}

#xfwq {
	width: 300px;
	background-color: #22b658;
	border: #22b658 4px solid;
	float: right;
}

#xfwq ul li {
	width: 270px;
}

#bs {
	width: 400px;
    background-color: #e9573e;
    border: #e9573e 4px solid;
    height: 332px;
}

.block2 span {
	float: left;
	font-size: 14px;
}

.block2 ul {
	margin: 10px 0px 10px 0px;
	padding-left: 15px;
	list-style-type: none;
}

.block2 ul li {
	width: 230px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	padding-bottom: 15px;
}

.block2 ul li a {
	width: 220px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	
}

#zdfw li {
	padding-bottom: 5px;
}
#grbs{
  margin-right: 0px;
}
#grbs ul{
margin-left: 55px;
}
#qybs {
	border: #eeeeee 4px solid;
	background-color: #eeeeee;
     margin-left: 0px;
}
#qybs li a{
  margin-top: -33px;
}

.block9 ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    padding-bottom: 39px;
}

#wszx_title {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 280px;
}

.block9 {
    width: 330px;
    border: #0580CD 3px solid;
    float: left;
    background-color: #0580CD;
    margin: 3px;
}

.wszx_bg {
	position: absolute;
	width: 274px;
	height: 48px;
	background-color: black;
	opacity: .35;
	filter: alpha(opacity =     35);
	left: 0px;
	bottom: 0px;
}

#zwgk1 ul {
	list-style-type: none;
	margin: 0px;
	padding: 20px;
}

#zwgk2 ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 10px 0px 20px;
	padding-bottom: 19px;
}

#zwgk2 ul li {
	width: 100px;
	display: inline-block;
	*display: inline;
}

#zwgk-title {
	margin-left: 10px;
}

#ztdb-title a {
	*margin-top: -22px;
	float: right;
}

.block12 {
	float: left;
}

.block4 {
    width: 339px;
    border: #eeeeee 4px solid;
    float: left;
    background-color: #eeeeee;
    margin: 3px;
    min-height: 286px;
    height: auto !important;
}

#hlzn {
	width: 332px;
	min-height: 356px;
	border: #0c92d1 3px solid;
	background-color: #0c92d1;
}

#nznyl {
	border: #169fa5 3px solid;
	background-color: #169fa5;
	width: 330px;
	margin-top: 5px;
}

#scjyl {
	border: #ec87c1 3px solid;
	background-color: #ec87c1;
	width: 330px;
	margin-top: 5px;
}

#jzgcl {
	border: #967bdc 3px solid;
	background-color: #967bdc;
	width: 330px;
	margin-top: 5px;
}

.block3 h3 a {
	display: block;
	margin-top: 2px;
	margin-bottom: 3px;
}


#sqtz-list,#bzzn-list,#zjyj-list {
	line-height: 15px;
}

#sqtz-list a,#bzzn-list a,#zjyj-list a {
	display: block;
	line-height: normal;
	width: 270px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	margin-left: 2px;
}
#jqrd-list{
  margin-bottom: 3px;
}
#jqrd-list a{
  	display: block;
	line-height: normal;
	width: 280px;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	margin-left: 2px;
}
#jqrd-list table td table td{
  height:56px;
  border-bottom: 1px #fff dashed;
}

#mhdt-list a,#qyzs-list a,#tstb-list a {
	display: block;
	line-height: normal;
	width: 340px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	margin-left: 2px;
}

#jqrd-list tr,#mhdt-list tr,#qyzs-list tr,#tstb-list tr {
	display: block;
}

#yqlj ul {
	padding-bottom: 2px;
}

#yqlj {
	border: #169fa5 3px solid;
	background-color: #169fa5;
	width: 306px;
	min-height: 356px;
	max-height: 519px;
}

#yqlj li {
	padding-bottom: 11px;
}

.block4 ul {
	float: left;
	list-style-type: none;
	margin: 3px 0px 20px 0px;
	margin: 0px;
	padding: 10px;
}

.block4 ul li {
	float: left;
}
.block4 ul li a {
	display: block;
	width: 93px;
	text-align: left;
}


.block5 {
    border: #0c92d1  3px solid;
    float: left;
    background-color: #0c92d1 ;
    margin: 3px;
    min-height: 160px;
    height: auto !important;
}

.block5 ul {
	float: left;
	list-style-type: none;
	margin: 3px 0px 20px 0px;
	margin: 0px;
	padding: 18px;
}

.block5 ul li {
	float: left;
}
.block5 ul li a {
	display: block;
	width: 93px;
	text-align: left;
}



