.main a {
	color: #fef8ec;
}

.main a:hover {
	text-decoration: underline;
	color: yellow;
}

.main li,.main tr {
	color: #fef8ec;
}

a,h1,h2,h3,h4 { /*color: #fef8ec;*/
	text-decoration: none;
}

h3 {
	padding: 8px;
	border-bottom: #FFF 2px solid;
	margin: 3px;
	font-size: 16px;
	color: #fef8ec;
}

#zwgk-title h3 span {
	font-size: 16px;
	font-weight: bold;
}

h3 a {
	font-size: 16px;
	font-weight: bold;
}

.slide {
	width: 489px;
	height: 316px;
	border: #CCC 4px solid;
	float: left;
	margin: 3px 3px 3px 0px;
	padding: 0px;
	position: relative;
}

#tqyb h3 {
	border-bottom: #FFF 2px solid;
}

.slide img {
	width: 486px;
	height: 316px;
}

#slide_title {
	position: absolute;
	/* margin-top: -60px; */
	background-color: black;
	line-height: 40px;
	opacity: 0.7;
	filter: alpha(opacity =     70);
	bottom: 0;
	width: 100%;
	height: 40px;
}

#slide_title p {
	color: white;
	text-align: center;
}

.block1 {
	width: 113px;
	height: 111px;
	float: left;
	margin: 3px;
}

.block1 h3 {
	border-bottom: none;
}

#ftdt {
	border: #fb6e52 3px solid;
	background-color: #fb6e52;
}

#hkystj {
	width: 330px;
	border: #ec87c1 3px solid;
	background-color: #ec87c1;	
}

#tqyb {
	width: 491px;
	height: 194px;
	margin: 3px 0px 3px 3px;
	border: #0c92d1 3px solid;
	background-color: #0c92d1;
}

#bmdt {
	text-align: left;
	border: #5937B2 3px solid;
	background-color: #5937B2;
}

#bmdt h2 a {
	color: #747474;
}

#bmdt  img {
	width: 100px;
	height: 100px;
}

#ftjx {
	border: #8dc153 3px solid;
	background-color: #8dc153;
}

#spxw {
	border: #37bd9c 3px solid;
	background-color: #37bd9c;
	margin: 3px 0px 3px 3px;
}

.block2 {
	width: 319px;
	float: left;
	margin: 3px;
}

#gggs {
	width: 328px;
	background-color: #e9573e;
	border: #e9573e 4px solid;
}

#zjyj {
	width: 328px;
	min-height: 354px;
	background-color: #37bd9c;
	border: #37bd9c 4px solid;
}

#jqrd {
	background-color: #d870ad;
	border: #d870ad 4px solid;
}

#mhdt {
	background-color: #169fa5;
	border: #169fa5 4px solid;
}

#tstb {
	background-color: #22b658;
	border: #22b658 4px solid;
}

#qyzs {
	background-color: #967bdc;
	border: #967bdc 4px solid;	
}

#sqtz {
	width: 330px;
	background-color: #f6bb43;
	border: #f6bb43 4px solid;
}

#bzzn {
	width: 300px;
	background-color: #5937B2;
	border: #5937B2 4px solid;
}

#bzzn ul li {
	width: 270px;
}

#bzzn ul li a {
	width: 260px;
	display: block;
	margin-bottom: 3px;
}

#xfwq ul li a {
	width: 260px;
	display: block;
	margin-bottom: 3px;
}

#tshfxd {
	width: 328px;
	border: #fb6e52 4px solid;
	background-color: #fb6e52;
}

#xfts {
	width: 330px;
	border: #5937B2 4px solid;
	background-color: #5937B2;
}

#xfwq {
	width: 300px;
	background-color: #22b658;
	border: #22b658 4px solid;
	float: right;
}

#xfwq ul li {
	width: 270px;
}

.block2 span {
	float: left;
	font-size: 14px;
}

.block2 ul {
	margin: 20px 0px 20px 0px;
	padding-left: 15px;
	padding-left: 20px;
	list-style-type: none;
}

.block2 ul li {
	width: 275px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	padding-bottom: 15px;
}

.block2 ul li a {
	width: 220px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	margin-left: 2px;
}

#zdfw li {
	padding-bottom: 5px;
}

#qybs {
	border: #8dc153 3px solid;
	background-color: #8dc153;
}

.block9 ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    padding-bottom: 39px;
}

#wszx_title {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 280px;
}

.block9 {
    width: 330px;
    border: #0580CD 3px solid;
    float: left;
    background-color: #0580CD;
    margin: 3px;
}

.wszx_bg {
	position: absolute;
	width: 303px;
	height: 48px;
	background-color: black;
	opacity: .35;
	filter: alpha(opacity =     35);
	left: 0px;
	bottom: 0px;
}

#zwgk1 ul {
	list-style-type: none;
	margin: 0px;
	padding: 20px;
}

#zwgk2 ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 10px 0px 20px;
	padding-bottom: 19px;
}

#zwgk2 ul li {
	width: 100px;
	display: inline-block;
	*display: inline;
}

#zwgk-title {
	margin-left: 10px;
}

#ztdb-title a {
	*margin-top: -22px;
	float: right;
}

.block12 {
	float: left;
}

.block4 {
	width: 486px;
}

#hlzn {
	width: 332px;
	min-height: 356px;
	border: #0c92d1 3px solid;
	background-color: #0c92d1;
}

#nznyl {
	border: #169fa5 3px solid;
	background-color: #169fa5;
	width: 330px;
	margin-top: 5px;
}

#scjyl {
	border: #ec87c1 3px solid;
	background-color: #ec87c1;
	width: 330px;
	margin-top: 5px;
}

#jzgcl {
	border: #967bdc 3px solid;
	background-color: #967bdc;
	width: 330px;
	margin-top: 5px;
}

.block3 h3 a {
	display: block;
	margin-top: 2px;
	margin-bottom: 3px;
}


#sqtz-list,#bzzn-list,#zjyj-list {
	line-height: 15px;
}

#sqtz-list a,#bzzn-list a,#zjyj-list a {
	display: block;
	line-height: normal;
	width: 270px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	margin-left: 2px;
}

#jqrd-list a,#mhdt-list a,#qyzs-list a,#tstb-list a {
	display: block;
	line-height: normal;
	width: 340px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	margin-left: 2px;
}

#jqrd-list tr,#mhdt-list tr,#qyzs-list tr,#tstb-list tr {
	display: block;
}

#yqlj ul {
	padding-bottom: 2px;
}

#tqyb-title {
	text-align: center;
}

#tqyb p {
	margin: 10px;
}

#yqlj {
	border: #169fa5 3px solid;
	background-color: #169fa5;
	width: 302px;
	min-height: 356px;
	max-height: 519px;
}

#yqlj li {
	padding-bottom: 11px;
}

.block4 tr {
	display: block;
	line-height: 30px;
}