.main {
	background-color: #fafafa;
}

.erjibg {
	width: 800px;
	margin: auto;
}

.erjibg tbody tr {
	line-height: 30px;
}

.title {
	font-size: 20px;
	margin-top: 10px;
	border-bottom: 3pt solid;
}

.left_td {
	text-align: left;
	color: #0000ff;
	font-size: 17px;
	width: 125px;
}

.first_td {
	text-align: right;
	padding-right: 7px;
	width: 143px;
	display: block;
}

.after_td {
	text-align: left;
}

#adress {
	width: 500px;
}

#designation {
	width: 500px;
}

#local {
	width: 348px;
}

#goods_name {
	width: 500px;
}

#verifyImage {
	vertical-align: middle;
	margin-left: 2px;
}

#audio {
	width: 18px;
	border: #000 1px solid;
	vertical-align: middle;
	margin-left: 2px;
}