@CHARSET "UTF-8";

.main {
	overflow: hidden;
}

.col {
	border: #CCC 1px solid;
	width: 998px;
}


h1 span { /*float:right;*/
	
}

h2 p {
	float: left;
	margin: 10px;
}

.block1 ul li span {
	float: right;
}

.block2 {
	width: 998px;
	clear: both;
	background-color: #FFF;
}

.block2 .title {
	font-size: 16px;
	font-weight: 400;
	height: 58px;
	border-bottom: 1px solid #ddd;
	background-color: #f8f9fa;
}

.block2 .title h1 span {
	float: right;
	line-height: 50px;
}

.block2 .txt {
	background-color: #FFF;
	line-height: 30px;
}
.block2 .title p,.block2 .title span,.block2 .title h3 {
	float: left;
	font-size: 16px;
	color: #4b4b4b;
	text-decoration: none;
	margin: 18px 15px 0 21px;
	line-height: 24px;
	font-weight: 700;
	padding-right: 15px;
	border-right: 1px dashed #ddd;
}

.block2 .title h3 span,.block2 .title h3 a {
	float: left;
	font-size: 16px;
	color: #4b4b4b;
	text-decoration: none;
	margin: 0px 0px 0 10px;
	line-height: 24px;
	font-weight: 700;
	padding-right: 15px;
	border-right: none;
}


#NewsShowConter_nav {
	position: relative;
	width: 980px;
	margin: 0 auto;
	text-align: left;
	background-color: #fafafa;
	padding: 10px;
	font-size: 1em;
	z-index: 1;
	border-bottom: 1px solid #CCC;
}

.txt table tbody tr td a {
	margin-left: 5px;
	text-align: left;
	display: block;
	width: 850px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	line-height: normal;
}
