/************************************正文*****************************************/
#content {
	position: relative;
	color: #666;
}

#content a:hover {
	text-decoration: underline;
	color: yellow;
	background-color: black;
	font-weight: bold;
}

#NewsShowConter_date {
	position: relative;
	width: 940px;
	margin: 0 auto;
	text-align: center;
	background-color: #fafafa;
	padding: 30px;
	border-bottom: 1px #CCC solid;
	border-top: 1px #CCC solid;
	z-index: 1;
}

#NewsShowConter_txt {
	position: relative;
	width: 940px;
	margin: 0 auto;
	text-align: left;
	background-color: #fafafa;
	padding: 30px;
	font-size: 1em;
	z-index: 1;
	display: inline-block;
}

#NewsShowConter_date h3 {
	font-size: 20px;
}

#NewsShowConter_txt font {
	display: block;
	width: 570px;
	margin: auto;
}

#NewsShowConter_txt a {
	color: #666;
}

#NewsShowConter_txt p,#NewsShowConter_txt span,#NewsShowConter_txt font{
	text-align: left;
	line-height: 40px;
}


.leader #NewsShowConter_txt p {
	float: left;
	text-align: center;
	line-height: 30px;
	margin-left: 94px;
	height: auto;
}

select,input,textarea {
	margin-left: 5px;
}

input[type="text"],textarea {
	color: #999999;
}

table {
	width: 100%;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}




table tr th,td {
	text-align: left;
	padding: 8px 5px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

table tr th {
	background: #e2f2fa;
	color: #15528a;
	font-size: 16px;
	font-weight: normal;
}

table tr td.alt {
	background: #f0f9fe;
	text-align: center;
}

table input {
	height: 25px;
	line-height: 25px;
	padding: 0 3px;
	width: 150px;
}

table textarea {
	height: 100%;
	width: 80%;
	text-align: left;
	padding: 0 3px;
	
}

.btn1 {
	text-align: center;
	margin-top: 10px;
}