<div id="top-nav">
	<div id="top-bar">
		<div class="right">
			<a id="esd_toolbar_ctrl" href="26538019f71eafadfc2f1408e997d2e9.html" title="开启无障碍辅助工具">开启无障碍辅助工具</a> 
<!-- 			<span>&nbsp;|&nbsp;</span>  -->
<!-- 			<a href="static:javascript:window.top.location.href='http://wap.szft.gov.cn/'">WAP版</a>  -->
<!-- 			<span>&nbsp;|&nbsp;</span>  -->
<!-- 			<a href="static:javascript:window.top.location.href='http://www.szft.gov.cn/wsfw/sjb/'">手机客户端</a> -->
<!-- 			<span>&nbsp;|&nbsp;</span>  -->
<!-- 			<a href="static:javascript:window.open('http://wza.szft.gov.cn/szft/html/weixin.html');void(0);">福田微信</a> -->
		</div>
	</div>

</div>
<div id="logo">
	<h1>
		<a href="http://www.baic.gov.cn/" title="北京市工商行政管理局"> 
			<img src="http://www.baic.gov.cn/images/toppic.jpg" title="北京市工商行政管理局" alt="北京市工商行政管理局"> 
		</a>
	</h1>

</div>
<div class="col-nav">
	<div class="nav" id="nav">
		<a href="http://www.baic.gov.cn/" title="首页"> 首页 </a> 
		<a href="http://www.baic.gov.cn/xxgk/" title="信息公开"> 信息公开 </a> 
		<a href="http://www.baic.gov.cn/zxbs/" title="在线办事"> 在线办事 </a> 
		<a href="http://www.baic.gov.cn/zmhd/" title="互动交流"> 互动交流 </a> 
		<a href="http://www.baic.gov.cn/zxfw2/" title="资讯服务"> 资讯服务 </a> 
	</div>
</div>