<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>资讯服务</title>
<meta http-equiv="keywords" content="北京工商局无障碍网站,北京工商局无障碍" />
<meta http-equiv="description" content="北京工商局无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/zxfw.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/zxfw.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div class="diy-1">
			<div id="search">
				<form action="/iac/search" method="post" id="searchForm" name="search" role="form">
					<img class="image" title="工商千问" alt="工商千问" src="http://www.baic.gov.cn:7021/common/images/index/logo_03.png"> 
					<input type="text" id="search-text" name="serCon" title="请输入要搜索的关键字" value="请输入要搜索的关键字" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999">
					<input type="hidden" name="currentPage" value="1" />
					<img id="searchButton" title="搜索" alt="图片" src="http://www.baic.gov.cn:7021/css/indexcss/images/search.png">
				</form>
			</div>
		</div>






<!-- 		<div class="diy-1-2"> -->
<!-- 			<div> -->
<!-- 				<h3> -->
<!-- 					<a -->
<!-- 						href="http://www.baic.gov.cn:7021/zmhdLogin/questionQueryAction!indexHotTagQuery.dhtml?hot_id=0277AAAE13E314EBE050007F01000D2A&flag=1&hotword=%25E5%2585%25AC%25E5%258F%25B8%25E5%258A%259E%25E7%2590%2586%25E6%25B5%2581%25E7%25A8%258B&clear=true&timeStamp=1453364194075">公司办理流程</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<h3> -->
<!-- 					<a -->
<!-- 						href="http://www.baic.gov.cn:7021/zmhdLogin/questionQueryAction!indexHotTagQuery.dhtml?hot_id=0277AAAE13E614EBE050007F01000D2A&flag=1&hotword=%25E5%2585%25AC%25E5%258F%25B8%25E7%25AB%25A0%25E7%25A8%258B&clear=true&timeStamp=1453364207996">公司章程</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<h3> -->
<!-- 					<a -->
<!-- 						href="http://www.baic.gov.cn:7021/zmhdLogin/questionQueryAction!indexHotTagQuery.dhtml?hot_id=7778ea8c25694ac3a5e0736eaf23e67e&flag=1&hotword=%25E8%2581%2594%25E7%25B3%25BB%25E6%2596%25B9%25E5%25BC%258F&clear=true&timeStamp=1453364216219">联系方式</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<h3> -->
<!-- 					<a -->
<!-- 						href="http://www.baic.gov.cn:7021/zmhdLogin/questionQueryAction!indexHotTagQuery.dhtml?hot_id=39ef0b042a4b45b4aa9966099fadb475&flag=1&hotword=%25E5%25B9%25B4%25E6%258A%25A5&clear=true&timeStamp=1453364233205">年报</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<h3> -->
<!-- 					<a -->
<!-- 						href="http://www.baic.gov.cn:7021/zmhdLogin/questionQueryAction!indexHotTagQuery.dhtml?hot_id=0264013ADE6AD665E050007F0100441D&flag=1&hotword=%25E5%258A%25A8%25E4%25BA%25A7%25E6%258A%25B5%25E6%258A%25BC%25E7%2599%25BB%25E8%25AE%25B0&clear=true&timeStamp=1453364245355">动产抵押登记</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<h3> -->
<!-- 					<a -->
<!-- 						href="http://www.baic.gov.cn:7021/zmhdLogin/questionQueryAction!indexHotTagQuery.dhtml?hot_id=0264013ADE7ED665E050007F0100441D&flag=1&hotword=%25E5%25A4%2596%25E8%25B5%2584%25E7%259B%2591%25E7%25AE%25A1&clear=true&timeStamp=1453364253247">外资监管</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<h3> -->
<!-- 					<a -->
<!-- 						href="http://www.baic.gov.cn:7021/zmhdLogin/questionQueryAction!indexHotTagQuery.dhtml?hot_id=0264013ADE80D665E050007F0100441D&flag=1&hotword=%25E6%25B6%2588%25E8%25B4%25B9%25E7%25BA%25A0%25E7%25BA%25B7%25E6%258A%2595%25E8%25AF%2589&clear=true&timeStamp=1453364275736">消费纠纷投诉</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<h3> -->
<!-- 					<a -->
<!-- 						href="http://www.baic.gov.cn:7021/zmhdLogin/questionQueryAction!indexHotTagQuery.dhtml?hot_id=0277AAAE13E214EBE050007F01000D2A&flag=1&hotword=%25E6%25B3%25A8%25E5%2586%258C%25E8%25B5%2584%25E6%259C%25AC&clear=true&timeStamp=1453364286694">注册资本</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<h3> -->
<!-- 					<a -->
<!-- 						href="http://www.baic.gov.cn:7021/zmhdLogin/questionQueryAction!indexHotTagQuery.dhtml?hot_id=0277AAAE13E114EBE050007F01000D2A&flag=1&hotword=%25E4%25BD%258F%25E6%2589%2580&clear=true&timeStamp=1453364297417">住所</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<h3> -->
<!-- 					<a -->
<!-- 						href="http://www.baic.gov.cn:7021/zmhdLogin/questionQueryAction!indexHotTagQuery.dhtml?hot_id=0277AAAE13E014EBE050007F01000D2A&flag=1&hotword=%25E5%2590%258D%25E7%25A7%25B0&clear=true&timeStamp=1453364309733">名称</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<h3> -->
<!-- 					<a -->
<!-- 						href="http://www.baic.gov.cn:7021/zmhdLogin/questionQueryAction!indexHotTagQuery.dhtml?hot_id=0264013ADE69D665E050007F0100441D&flag=1&hotword=%25E5%2590%2588%25E5%2590%258C%25E7%25A4%25BA%25E8%258C%2583%25E6%2596%2587%25E6%259C%25AC&clear=true&timeStamp=1453364325732">合同示范文本</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
<!-- 		</div> -->
		<div class="col">
			<div id="sjfb">
			
			</div>
		</div>


	</div>
	<include src="footer.html" />
</body>
</html>