<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="福田区政府无障碍网站,福田区政府无障碍,福田无障碍" />
<meta http-equiv="description" content="深圳福田区无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
</head>
<body>
	<include src="header.html" />
	<div id="main">
		<div class="col">
			<div class="blockbox">
				<div id="sub_nav_title" class="title">
					<a href="http://www.szft.gov.cn/video/spxw/" title="福田视频">福田视频</a>
				</div>
				<div id="sub_nav_txt" class="txt">
					<a href="http://www.szft.gov.cn/video/spxw/spxw/" title="视频新闻">视频新闻</a>
    				<a href="http://www.szft.gov.cn/video/spxw/dcft/" title="多彩福田">多彩福田</a>
    				<a href="http://www.szft.gov.cn/video/spxw/gyxc/" title="公益宣传">公益宣传</a>
    				<a href="http://www.szft.gov.cn/video/spxw/ggzt/" title="改革专题">改革专题</a>
    				<a href="http://www.szft.gov.cn/video/spxw/ldjj/" title="亮点集锦">亮点集锦</a>
    				<a href="http://www.szft.gov.cn/video/spxw/dtzt/" title="低碳专题">低碳专题</a>
				</div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>