<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="keywords" content="福田区政府无障碍网站,福田区政府无障碍,福田无障碍" />
<meta http-equiv="description" content="深圳福田区无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/index.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div class="col">
			<div class="slide hoverblack" id="slide">
				<div id="slide1"></div>
				<div id="slide_title"></div>
				<div class="clearboth"></div>
			</div>
			<div class="block1 hoverblack" id="ftdt">
				<h3 id="ftdt_title"></h3>
			</div>
			<div class="block1 hoverblack" id="bmdt">
				<h3 id="bmdt_title"></h3>
			</div>
			<div class="block1 hoverblack" id="ftjx">
				<h3 id="ftjx_title"></h3>
			</div>
			<div class="block1 hoverblack" id="spxw">
				<h3 id="spxw_title"></h3>
			</div>
			<div class="clearboth"></div>
		</div>
		<div class="col">
			<div class="block2 hoverblack" id="gggs">
				<h3>
					<div id="gggs-title"></div>
				</h3>
			</div>
			<div class="block2 hoverblack" id="sqtz">
				<h3>
					<div id="sqtz-title"></div>
				</h3>
			</div>
			<div class="block2 hoverblack" id="ftqzkzl">
				<h3>
					<div id="ftqzkzl-title"></div>
				</h3>
			</div>
			<div class="clearboth"></div>
		</div>
		<div class="col">
			<div class="block3 hoverblack">
				<h3 id="mszc"></h3>
			</div>
			<div class="block3 hoverblack">
				<h3 id="zfjg">
					<a href="http://www.szft.gov.cn/xxgk/xzzfgk/">行政执法公开</a>
				</h3>
			</div>
			<div class="block3 hoverblack">
				<h3 id="qzqd">
					<a href="http://www.szft.gov.cn/xxgk/qzqd/xzxk/">福田区权责清单</a>
				</h3>
			</div>
			<div class="block3 hoverblack">
				<h3 id="zfjg">
					<a href="http://www.szft.gov.cn/wsfw/fwjg/">政府机构信息</a>
				</h3>
			</div>
			<div class="clearboth"></div>
		</div>
		<div class="col">
			<div class="block10 hoverblack">
				<img src="../etc/image/service.jpg" />
			</div>
			<div class="block4" id="service1">
				<ul id="ztfw"></ul>
				<ul id="zdfw"></ul>
				<div class="clearboth"></div>
			</div>
			<div class="clearboth"></div>
		</div>
		<div class="col">
			<div class="block5 hoverblack" id="grbs">
				<h3>个人办事</h3>
				<div id="grbszn"></div>
				<div class="clearboth"></div>
			</div>
			<div class="block5 hoverblack" id="qybs">
				<h3>企业办事</h3>
				<div id="qybszn"></div>
				<div class="clearboth"></div>
			</div>
			<div class="block12">
				<div class="block6 hoverblack">
					<h3 id="myzj-title">
						<a href="http://www.szft.gov.cn/wlwz/zjzt/">民意征集</a>
					</h3>
					<div id="myzj"></div>
					<div class="clearboth"></div>
				</div>
				<div class="block7 hoverblack">
					<div id="wszx"></div>
					<div class="wszx_bg"></div>
					<h3 id="wszx_title"></h3>
					<div class="clearboth"></div>
				</div>
				<div class="clearboth"></div>
			</div>
			<div class="clearboth"></div>
		</div>
		<div class="col">
			<div class="block9 hoverblack" id="ztbd">
				<h3>
					政务专题<span id="ztdb-title"></span>
				</h3>
				<ul>
					<li id="ztdb_1"></li>
					<li id="ztdb_2"></li>
					<li id="ztdb_3"></li>
					<li id="ztdb_4"></li>
					<li id="ztdb_5"></li>
					<li id="ztdb_6"></li>
				</ul>
			</div>
			<div class="block8 hoverblack" id="zwgk">
				<div id="zwgk-title"></div>
				<div id="zwgk1">
					<ul>
						<li id="zwgkli1"></li>
						<li id="zwgkli3"></li>
						<li id="zwgkli2"><a href="http://www.szft.gov.cn/xxgk/zdly/" title="重点领域信息公开">重点领域信息公开</a>
						</li>
					</ul>

				</div>
				<div id="zwgk2"></div>
			</div>
			<div class="clearboth"></div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>