<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="福田区政府无障碍网站,福田区政府无障碍,福田无障碍" />
<meta http-equiv="description" content="深圳福田区无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/msfw.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div class="col">
			<div class="block2">
				<div id="ztff_title" class="title"></div>
				<div id="ztff_dl" class="dl"></div>
				<div id="ztff" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="fwjg_title" class="title"></div>
				<div id="fwjg_dl"></div>
				<div id="fwjg" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="zdywfw_title" class="title"></div>
				<div id="zdywfw_dl"></div>
				<div id="zdywfw" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="cjfw_title" class="title"></div>
				<div id="cjfw_dl"></div>
				<div id="cjfw" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="bmfw_title" class="title"></div>
				<div id="bmfw_dl"></div>
				<div id="bmfw" class="txt"></div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>