<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="福田区政府无障碍网站,福田区政府无障碍,福田无障碍" />
<meta http-equiv="description" content="深圳福田区无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/ztfw.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div class="col">
			<div class="block2">
				<div id="ssxxgk_title" class="title"><h3>民生实事信息公开</h3></div>
				<div id="ssxxgk_dl" class="dl"></div>
				<div id="ssxxgk" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="jylt_title" class="title"></div>
				<div id="jylt_dl"></div>
				<div id="jylt" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="msdbh_title" class="title"></div>
				<div id="msdbh_dl"></div>
				<div id="msdbh" class="txt"></div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>