<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="福田区政府无障碍网站,福田区政府无障碍,福田无障碍" />
<meta http-equiv="description" content="深圳福田区无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/tool/Voice.js"></script>
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/myzj.js" ></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/content.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/myzj.css" />
</head>

<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav"></div>
                <div id="NewsShowConter_date"></div>
		<div class="content">
			<div id="NewsShowConter_txt"></div>
		</div>
	</div>
        
	<include src="footer.html" />
</body>
</html>