<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="福田区政府无障碍网站,福田区政府无障碍,福田无障碍" />
<meta http-equiv="description" content="深圳福田区无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/xxgkback10.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div class="col" id="gzdt">
			<div class="block2">
				<div id="tengzdt_title" class="title"></div>
				<div class="content">
					<div id="slide">
						<div id="slide_pic"></div>
						<div id="slide_title"></div>
					</div>
					<div id="tengzdt" class="txt"></div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="block2 block3" id="tzgg">
				<div id="tentzgg_title" class="title"></div>
				<div id="tentzgg" class="txt"></div>
			</div>
			<div class="block2 block4" id="bszn">
				<div id="tenbszn_title" class="title"></div>
				<div id="tenbszn" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="tenzxxd_title" class="title"></div>
				<div id="tenzxxd" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2 block3">
				<div id="tencjwt_title" class="title"></div>
				<div id="tencjwt" class="txt"></div>
			</div>
			<div class="block2 block4">
				<div id="tenywbg_title" class="title"></div>
				<div id="tenywbg" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="tenmyzj_title" class="title"></div>
				<div id="tenmyzj" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2 block3">
				<div id="tenndgzzj_title" class="title"></div>
				<div id="tenndgzzj" class="txt"></div>
			</div>
			<div class="block2 block4">
				<div id="tenxxgknb_title" class="title"></div>
				<div id="tenxxgknb" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2 block3">
				<div id="tensqxxgk_title" class="title"></div>
				<div id="tensqxxgk" class="txt"></div>
			</div>
			<div class="block2 block4">
				<div id="tenzfjdxx_title" class="title"></div>
				<div id="tenzfjdxx" class="txt"></div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>