<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="福田区政府无障碍网站,福田区政府无障碍,福田无障碍" />
<meta http-equiv="description" content="深圳福田区无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/ztfw.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div class="col">
			<div class="block2">
				<div id="fwdt_title" class="title"></div>
				<div class="slide" id="slide"></div>
				<div id="slide-left"></div>
				<div class="clearboth"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="tzgg_title" class="title"></div>
				<div id="tzgg" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="xqjy_title" class="title"></div>
				<div id="xqjy_dl" class="dl"></div>
				<div id="xqjy" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="xxjy_title" class="title"></div>
				<div id="xxjy_dl"></div>
				<div id="xxjy" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="czjy_title" class="title"></div>
				<div id="czjy_dl"></div>
				<div id="czjy" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="gzjy_title" class="title"></div>
				<div id="gzjy_dl"></div>
				<div id="gzjy" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="jyjz_title" class="title"></div>
				<div id="jyjz_dl"></div>
				<div id="jyjz" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="cjwt_title" class="title"></div>
				<div id="cjwt" class="txt"></div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>