<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="松原市人民政府网站,松原市人民政府无障碍" />
<meta http-equiv="description" content="松原市人民政府无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/ajgcxxgkzl.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/ajgcxxgkzl.css" />
<title>安居工程信息公开专栏</title>
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav">
			<span>当前位置：</span><a href="http://jlsy.gov.cn/" title="首页">首页</a>
			 &gt;&gt;  
			<a href="http://zt.jlsy.gov.cn/bzxzf/" title="安居工程信息公开专栏">安居工程信息公开专栏</a>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="syyw_title"><a href="http://zt.jlsy.gov.cn/bzxzf/bzxx/" title="住房保障基本信息">住房保障基本信息</a></h3>
					<div class="more">
						<h4 id="syyw_more">
							<a href="http://zt.jlsy.gov.cn/bzxzf/bzxx/" title="更多">更多&gt;&gt;</a>
						</h4>
					</div>
				</div>
				<div id="syyw" class="txt"></div>
			</div>
		</div>
		
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="xqdt_title">
						<a href="http://zt.jlsy.gov.cn/bzxzf/xmjsxx/" title="项目建设信息">项目建设信息</a>
					</h3>
					<div class="more">
						<h4 id="xqdt_more">
							<a href="http://zt.jlsy.gov.cn/bzxzf/xmjsxx/" title="更多">更多&gt;&gt;</a>
						</h4>
					</div>
				</div>
				<div id="xqdt" class="txt"></div>
			</div>
		</div>
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="bmdt_title">
						<a href="http://zt.jlsy.gov.cn/bzxzf/zfbz/" title="住房保障对象信息">住房保障对象信息</a>
					</h3>
					<div class="more">
						<h4 id="bmdt_more">
							<a href="http://zt.jlsy.gov.cn/bzxzf/zfbz/" title="更多">更多&gt;&gt;</a>
						</h4>
					</div>
				</div>
				<div id="bmdt" class="txt"></div>
			</div>
		</div>
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="sjsy_title">
						<a href="http://zt.jlsy.gov.cn/bzxzf/zffp/" title="保障住房分配,退出信息">保障住房分配,退出信息</a>
					</h3>
					<div class="more">
						<h4 id="sjsy_more">
							<a href="http://zt.jlsy.gov.cn/bzxzf/zffp/" title="更多">更多&gt;&gt;</a>
						</h4>
					</div>
				</div>
				<div id="sjsy" class="txt"></div>
			</div>
		</div>
		
		
		
		
		
		
		
		
		
		
	</div>
	<include src="footer.html" />
</body>
</html>