<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="松原市人民政府网站,松原市人民政府无障碍" />
<meta http-equiv="description" content="松原市人民政府无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/cghdb.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/cghdb.css" />
<title>查干湖冬捕</title>
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav">
			<span>当前位置：</span><a href="http://jlsy.gov.cn/" title="首页">首页</a>
			 &gt;&gt;  
			<a href="http://zt.jlsy.gov.cn/cghzt/" title="查干湖冬捕">查干湖冬捕</a>
		</div>
		<div id="sub_nav_txt">
			<a href="http://zt.jlsy.gov.cn/cghzt/dynr/201512/t20151224_90936.html" title="查干湖简介">查干湖简介</a>
			<a href="http://zt.jlsy.gov.cn/cghzt/mswh/cghdb/" title="民俗文化">民俗文化</a>
			<a href="http://zt.jlsy.gov.cn/cghzt/hdzt/" title="活动日程">活动日程</a>
			<a href="http://zt.jlsy.gov.cn/cghzt/lyts/" title="旅游提示">旅游提示</a>
			<a href="http://zt.jlsy.gov.cn/cghzt/cghsp/" title="影像查干湖">影像查干湖</a>
			
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>