<div id="footer">
	<ul>
		<li>
			<p>
				<a href="http://www.szft.gov.cn/zf/ftgk/" title="福田概况">福田概况</a> <span>|</span> <a href="http://www.szft.gov.cn/bqbh/" title="版权保护">版权保护</a> <span>|</span>
				<a href="http://www.szft.gov.cn/yssm/" title="隐私声明">隐私声明</a> <span>|</span><a href="http://www.szft.gov.cn/qtlm/wzdt/" title="网站地图">网站地图</a> <span>|</span>
				<a href="http://www.szft.gov.cn/" title="加入收藏">加入收藏</a><span>|</span> <a href="http://www.szft.gov.cn/gywm/" title="关于我们">关于我们</a> <span></span>
			</p>
			<p>
				主办：深圳市福田区人民政府 技术支持单位： <a href="http://www.szft.gov.cn/" title="福田区信息中心">福田区信息中心</a>
			</p>
			<p>
				<a href="http://www.szft.gov.cn/" title="无障碍声明">无障碍声明</a> <span>|</span> <a id="esd_original" href="#" title="返回原始页面">返回原始页面</a>
				<br><span>您是本站第<font id="pageview"></font>位访问者！</span>
			</p></li>
		<li><img src="../etc/image/ia.png" title="信息无障碍" alt="信息无障碍" /></li>
	</ul>
</div>