<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>公众来信</title>
<meta http-equiv="keywords" content="北京工商局无障碍网站,北京工商局无障碍" />
<meta http-equiv="description" content="北京工商局无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/gzlx.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/gzlx.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<table align="center" cellpadding="0" cellspacing="0" class="bgs">
			<tbody>
				<tr>
					<td align="center" valign="top" class="erji01bg">
						<table style="width: 95%;height:1px;background-color: #FFFFFF;" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td></td>
								</tr>
							</tbody>
						</table>
						<table border="0" cellpadding="0" cellspacing="0" valign="top" style="background:url(http://www.baic.gov.cn/bjsgsj_images/outline/dirbgtop.gif) top repeat-x #ffffff;width: 1002px;height: 35px;">
							<tbody>
								<tr>
									<td style="width: 22px;height: 35px;">&nbsp;</td>
									<td align="left" valign="middle" class="dirss">您现在的位置： <span class="dirss1">首页</span>&nbsp;&gt;&gt;&nbsp; <span class="dirss1">公众来信</span>
									</td>
								</tr>
							</tbody>
						</table>
						<form action="">
							<table border="0" align="center" cellpadding="0" cellspacing="0" class="txt14l24">
								<tbody>
									<tr>
										<td style="height: 30px;" align="left">&nbsp;用户姓名:</td>
										<td align="left">
											<input type="text" name="author" value="请输入用户姓名" title="请输入用户姓名" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" size="30" pattern="string" id="author" elname="用户姓名" max_len="40" maxlength="40" not_null="1">&nbsp;<font color="red">*</font>&nbsp; 
										</td>
										<td align="left">&nbsp;邮&nbsp;箱:</td>
										<td align="left">&nbsp; 
											<input type="text" name="email" value="请输入邮箱" title="请输入邮箱" size="30" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" pattern="string" id="email" elname="邮箱" max_len="40" maxlength="40" not_null="1" isemail="1">&nbsp;<font color="red">*</font>&nbsp; 
										</td>
									</tr>
									<tr>
										<td height="30" align="left">&nbsp;联系方式:</td>
										<td align="left">
											<input type="text" name="mobile" value="请输入手机号码" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" title="请输入手机号码" size="30" pattern="string" id="mobile" elname="联系方式" max_len="40" maxlength="40">&nbsp;<font color="red"></font><font color="red">*</font>&nbsp; 
										</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td height="30" align="left">&nbsp;通信地址:</td>
										<td align="left">
											<input type="text" name="address" value="请输入通信地址" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" title="请输入通信地址" size="60" pattern="string" id="address" elname="通信地址" max_len="100" maxlength="100" not_null="1">&nbsp;<font color="red">*</font>&nbsp; 
										</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td height="30" align="left">&nbsp;类 型:</td>
										<td colspan="3" align="left">&nbsp; 
											<input type="radio" name="type" title="类型" value="批评" checked="checked"> 批评&nbsp;&nbsp;
											<input type="radio" name="type" title="类型" value="建议"> 建议&nbsp; 
											<font color="red">*</font>&nbsp;
										</td>
									</tr>
									<tr>
										<td height="30" width="120" align="left">&nbsp;是否同意公开:</td>
										<td colspan="3" align="left">&nbsp; 
											<input type="radio" name="show" title="是否公开" value="是" checked="checked"> 是&nbsp;&nbsp;
											<input type="radio" name="show" title="是否公开" value="否"> 否&nbsp; <font color="red">*</font>&nbsp;
										</td>
									</tr>
									<tr>
										<td height="30" colspan="1" align="left">&nbsp;主 题:</td>
										<td colspan="3" align="left">
										<input type="text" name="title" title="请输入主题" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入主题" size="65" pattern="string" id="title" elname="主题" max_len="80" maxlength="80" not_null="1/">&nbsp;<font color="red">*</font>&nbsp;(不超过40中文字符) 
										</td>
									</tr>
									<tr>
										<td height="30" colspan="4" align="left">&nbsp;内容:(不超过1000个中文字符)</td>
									</tr>
									<tr>
										<td height="30" colspan="4" align="center" style="padding-top:3px;padding-bottom:3px;">
											<textarea name="content" onFocus="if(value=='请输入内容(不超过1000个中文字符)'){value='';this.style.color='#000'}" onBlur="if(!value){value='请输入内容(不超过1000个中文字符)';this.style.color='#999'}" title="请输入内容" id="content" cols="88" rows="10" style="width: 633px; color: #999" >请输入内容(不超过1000个中文字符)</textarea>
										</td>
									</tr>
									<tr>
										<td height="30" align="left">&nbsp;验证码:</td>
										<td colspan="3" align="left">
											<input name="certicode" id="certicode" title="请输入验证码" type="text" onfocus="esdonfocus();"/>&nbsp; 
											<img id="verifyImage" title="验证码" alt="验证码"/>
											<input type="hidden" id="voicepath" />
										</td>
									</tr>
									<tr>
										<td height="49" colspan="4" align="center">
											<input type="button" id="submitbtn" value="发  送" title="发送"/>&nbsp;&nbsp; 
											<input type="reset" value="重  填" title="重填"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
											<a href="http://www.baic.gov.cn/xxgk/tzgg/qtyw/" target="_blank">来信反馈</a>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
						<table width="85%" border="0" align="center" cellpadding="0" cellspacing="0" class="txt14l24" style="margin-top:26px">
							<tbody>
								<tr>
									<td width="22" height="35">&nbsp;</td>
									<td align="left" valign="middle" class="dirss"><span style="line-height:28px;">&nbsp;&nbsp;&nbsp;&nbsp;感谢您对我局工作的支持，欢迎您积极建言献策，共同维护首都良好的市场经济秩序；“公众来信”功能主要受理对我局工作的批评建议，如您有举报或申诉、投诉业务，请您进入首页中12315投诉举报系统办理。为维护系统正常进行，请您不要发送商品、服务等广告信息。</span>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript" src="../etc/tool/Voice.js"></script>
	<include src="footer.html" />
</body>
</html>