<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="中国民用航空局消费者事务中心网站,中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="description" content="中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/hbywcs.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/hbywcs.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav"></div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="zfxx_title">
					</h3>
				</div>
				<div id="zfxx" class="txt">
<ul id="slideshow">
	
			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2228.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223380164687872.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2229.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223380348594058.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2230.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223381080782797.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2231.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223382089068475.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2232.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223382200464086.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2233.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223382295932530.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2234.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223382402187388.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2235.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223382490786896.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2236.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223382581407403.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2237.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223382735000087.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2238.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223382841877034.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2239.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223382944377608.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2240.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223383034061301.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2241.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223383133909241.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2243.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223383246879063.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2244.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223383352960124.jpg" alt="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hbywcs/201202/t20120215_2245.html" title="图片"><img src="http://www.caacca.org/lksc/hbywcs/201202/W020120223383467341481.jpg" alt="图片"/></a>
		</li>


	</ul>			
				</div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>