<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>互动交流</title>
<meta http-equiv="keywords" content="北京工商局无障碍网站,北京工商局无障碍" />
<meta http-equiv="description" content="北京工商局无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/hdjl.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/hdjl.css" />
</head>
<body>
    <include src="header.html" />
	<div class="main">
		<div id="Sbmenu"></div>
		<div id="NewsListConter" class="txt">
			<table width="730" border="0" cellspacing="0" cellpadding="0"
				style="background:url(http://www.baic.gov.cn/preview/bjsgsxzgljxzd/images/tsjb1.jpg) top left no-repeat; margin-top:10px;">
				<tbody>
					<tr>
						<td width="21" height="330" valign="top">&nbsp;</td>
						<td width="255" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td height="110">&nbsp;</td>
									</tr>
								</tbody>
							</table>
							<table width="250" height="198" border="0" cellpadding="0" cellspacing="0" class="w12">
								<tbody>
									<tr>
										<td width="127" height="22" align="left" valign="top">东城：64012315 <br>
										</td>
										<td width="106" align="left" valign="top">大兴：60212315 <br>
										</td>
									</tr>
									<tr>
										<td height="22" align="left" valign="top">西城：66512315 <br>
										</td>
										<td align="left" valign="top">顺义：89412315 <br>
										</td>
									</tr>
									<tr>
										<td height="22" align="left" valign="top">朝阳：84912315 <br>
										</td>
										<td align="left" valign="top">平谷：69912315 <br>
										</td>
									</tr>
									<tr>
										<td height="22" align="left" valign="top">海淀：62612315 <br>
										</td>
										<td align="left" valign="top">怀柔：69612315 <br>
										</td>
									</tr>
									<tr>
										<td height="22" align="left" valign="top">丰台：63712315 <br>
										</td>
										<td align="left" valign="top">密云：89012315 <br>
										</td>
									</tr>
									<tr>
										<td height="22" align="left" valign="top">石景山：88912315 <br>
										</td>
										<td align="left" valign="top">昌平：80112315 <br>
										</td>
									</tr>
									<tr>
										<td height="22" align="left" valign="top">门头沟：69812315 <br>
										</td>
										<td align="left" valign="top">延庆：61112315 <br>
										</td>
									</tr>
									<tr>
										<td height="22" align="left" valign="top">房山：69312315<br>
										</td>
										<td align="left" valign="top">燕山：89312315</td>
									</tr>
									<tr>
										<td height="22" align="left" valign="top">通州：69512315</td>
										<td align="left" valign="top">&nbsp;</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td width="442" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" height="19">
								<tbody>
									<tr>
										<td></td>
									</tr>
								</tbody>
							</table>
							<table width="98%" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td height="165" align="left" valign="top" class="gray14" style="line-height:22px; font-size:12px; color:#666">
											在您登记申诉、举报单之日起七个工作日内，工作人员会在工作时间（周一至周五
											9:00－17:30）与您取得联系，请您保持通讯畅通，以便能及时处理您所反映的问题。若您所留的电话号码有误或经三次拨打电话均处于无人接听、忙音、无法接通等状态而使工作人员未能与您取得联系的，则视为无效申诉或无效举报。<br>
												如您有紧急、重要的举报、申诉信息或进行有关消费者权益保护的法律、法规的咨询，请您拨打"12315"或各区县12315中心的电话反映。
										</td>
									</tr>
								</tbody>
							</table>
							<table width="437" border="0" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td width="200" align="left" valign="top" class="blue315">在您购买商品或接受服务时，合法权益受到侵害，需要解决与经营者的纠纷，您可以向12315申诉，填写申诉单。</td>
										<td width="29" height="90" valign="top">&nbsp;</td>
										<td width="208" align="left" valign="top" class="blue315">您发现有违法经营行为时；工商人员违法违纪时，您可以向12315举报，填写举报单。</td>
									</tr>
									<tr>
										<td align="center" valign="top" class="blue315"><a href="http://www.baic.gov.cn/zmhd/wstsjb/ssdj/"><img
												src="http://www.baic.gov.cn/images/nullpic.gif" width="108" height="36" title="投诉" alt="投诉">
										</a>
										</td>
										<td valign="top">&nbsp;</td>
										<td align="center" valign="top" class="blue315"><a href="http://www.baic.gov.cn/zmhd/wstsjb/jbdj/"><img
												src="http://www.baic.gov.cn/images/nullpic.gif" width="108" height="36" title="举报" alt="举报">
										</a>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td width="12" valign="top">&nbsp;</td>
					</tr>
				</tbody>
			</table>




			<div style="font-size:14px; color:#fff; font-weight:bold; line-height:30px; text-indent:10px; background:#4079ae; ">
				<table style="width: 971px;">
					<tbody>
						<tr>
							<td style="text-align: left;">投诉回复选登：</td>
							<td width="60"><a href="http://www.baic.gov.cn/zmhd/dxal/" title="投诉回复选登更多" style="color: #fff;">更多&gt;&gt;</a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="boxcenter" style="border:1px #eaeaea solid;"></div>


			<div id="xfts">
				<table style="width:462px;">
					<tbody>
						<tr>
							<td style="text-align: left;">消费提示：</td>
							<td width="60"><a href="http://www.baic.gov.cn/zmhd/xfjs/" title="消费提示更多" style="color: #fff;">更多&gt;&gt;</a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="yjzj">
				<table style="width:462px;">
					<tbody>
						<tr>
							<td style="text-align: left;">意见征集：</td>
							<td width="60"><a href="http://www.baic.gov.cn/zmhd/jjzj/" title="意见征集更多" style="color: #fff;">更多&gt;&gt;</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="xfts_list"></div>
			<div id="yjzj_list"></div>

			<div id="zxft">
				<table style="width:462px;">
					<tbody>
						<tr>
							<td style="text-align: left;">在线访谈：</td>
							<td width="60"><a href="http://www.baic.gov.cn/zmhd/zxft/" title="在线访谈更多" style="color: #fff;">更多&gt;&gt;</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="zxft_list"></div>
		</div>
	</div>
    <include src="footer.html" />
</body>
</html>