<div id="top-nav">
	<div id="top-bar">
		<div class="right">
			<a id="esd_toolbar_ctrl" href="3bb76d6f5fde56dab53c5c5fbb4bd8c7.html" title="开启无障碍辅助工具">开启无障碍辅助工具</a> 
		</div>
	</div>

</div>
<div id="top-logo">
	<div id="logo">
		<h1>
			<a href="http://www.jlsy.gov.cn/" title="松原市人民政府"> 
				<img src="../etc/image/logo.png" title="松原市人民政府" alt="松原市人民政府" style="width:402px;"> 
			</a>
		</h1>
	</div>
</div>
<div class="col-nav">
	<div class="nav" id="nav">
		<a href="http://www.jlsy.gov.cn/" title="首页"> 首页 </a> 
		<a href="http://www.jlsy.gov.cn/gk/" title="概况"> 概况 </a> 
		<a href="http://www.jlsy.gov.cn/xw/" title="新闻"> 新闻 </a> 
		<a href="http://www.jlsy.gov.cn/zw/" title="政务"> 政务 </a> 
		<a href="http://www.jlsy.gov.cn/hd/" title="互动"> 互动 </a> 
		<a href="http://www.jlsy.gov.cn/zt/" title="专题"> 专题 </a> 
		<a href="http://www.jlsy.gov.cn/bsfw/" title="办事"> 办事 </a> 
		<a href="http://www.jlsy.gov.cn/gjss/" title="站内搜索"> 站内搜索 </a> 
	</div>
</div>