<div id="top-nav">
	<div id="top-bar">
		<div class="right">
			<a id="esd_toolbar_ctrl" href="static:wca.html?2fd56ed1f9798f193e55a0910dbb441c.html" title="开启无障碍辅助工具">开启无障碍辅助工具</a> 
			<span>&nbsp;|&nbsp;</span> 
			<a href="static:javascript:window.top.location.href='http://wap.szft.gov.cn/'">WAP版</a> 
			<span>&nbsp;|&nbsp;</span> 
			<a href="static:javascript:window.top.location.href='http://www.szft.gov.cn/wsfw/sjb/'">手机客户端</a>
			<span>&nbsp;|&nbsp;</span> 
			<a href="static:javascript:window.open('http://wza.szft.gov.cn/szft/html/weixin.html');void(0);">福田微信</a>
		</div>
	</div>

</div>
<div id="logo">
	<h1>
		<a href="http://www.szft.gov.cn/" title=""> 
			<img src="http://www.szft.gov.cn/images/f_logo.png" title="福田政府在线" alt="福田政府在线"> 
		</a>
	</h1>

</div>
<div class="col-nav">
	<div class="nav" id="nav">
		<a href="http://www.szft.gov.cn/" title="政府首页"> 政府首页 </a> 
		<a href="http://www.szft.gov.cn/xxgk/" title="信息公开"> 信息公开 </a> 
		<a href="http://www.szft.gov.cn/msfw/" title="民生服务"> 民生服务 </a> 
		<a href="http://www.szft.gov.cn/wsfw/bsznall/grbszn/" title="个人办事"> 个人办事 </a> 
		<a href="http://www.szft.gov.cn/wlwz/" title="网络问政"> 网络问政 </a> 
		<a href="http://www.szft.gov.cn/was40/" title="福田搜索"> 福田搜索 </a>
	</div>
</div>