<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>航旅指南</title>
<meta http-equiv="keywords" content="中国民用航空局消费者事务中心网站,中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="description" content="中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/hlzn.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/hlzn.css" />
</head>
<body>
	<include src="header.html" />
	<div id="main">
		<div id="NewsShowConter_nav"></div>
		<div class="col">
			<div class="blockbox">
				<div id="sub_nav_title" class="title"></div>
				<div id="sub_nav_txt" class="txt">
					<a href="http://www.caacca.org/hlzn/cj/" title="乘机">乘机</a>
					<a href="http://www.caacca.org/hlzn/bzchb/" title="不正常航班">不正常航班</a>
					<a href="http://www.caacca.org/hlzn/dzkp/" title="电子客票">电子客票</a>
					<a href="http://www.caacca.org/hlzn/aj/" title="安检">安检</a>
					<a href="http://www.caacca.org/hlzn/kcaq/" title="客舱安全">客舱安全</a>
					<a href="http://www.caacca.org/hlzn/xl/" title="行李">行李</a>
					<a href="http://www.caacca.org/hlzn/hljk/" title="航旅健康">航旅健康</a>
					<a href="http://www.caacca.org/hlzn/qt/" title="其他">其他</a>
				</div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>