<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="keywords" content="中国民用航空局消费者事务中心网站,中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="description" content="中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/jQuery.md5.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/index.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/index.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div class="col">
			<div class="slide hoverblack" id="slide">
				<div id="slide1"></div>
				<div id="slide_title">
					<p id="slide_title1"></p>
				</div>
				<div class="clearboth"></div>
			</div>
			<div class="block1 hoverblack" id="tqyb">
				<h3>
					<a href="http://www.caacca.org/hlfw/hktqyb/" title="航空天气预报">航空天气预报</a>
				</h3>
				<p id="tqyb-title"></p>
				<p id="tqyb-content"></p>
				
				
			</div>
			<div class="block1 hoverblack" id="ftdt">
				<h3 id="ftdt_title">
					<a
						href="http://www.caacts.org.cn:8080/struts2_spring3_hibernate3_1.0/tsTianjia.action"
						title="我要投诉">我要投诉</a>
				</h3>
			</div>
			<div class="block1 hoverblack" id="bmdt">
				<h3 id="bmdt_title">
					<a
						href="http://www.caacts.org.cn:8080/struts2_spring3_hibernate3_1.0/zxTianjia.action"
						title="我要咨询">我要咨询</a>
				</h3>
			</div>
			<div class="block1 hoverblack" id="ftjx">
				<h3 id="ftjx_title">
					<a
						href="http://www.caacts.org.cn:8080/struts2_spring3_hibernate3_1.0/yjTianjia.action"
						title="意见建议">意见建议</a>
				</h3>
			</div>
			<div class="block1 hoverblack" id="spxw">
				<h3 id="spxw_title">
					<a
						href="http://www.caacts.org.cn:8080/struts2_spring3_hibernate3_1.0/byTianjia.action"
						title="我要表扬">我要表扬</a>
				</h3>
			</div>
			<div class="clearboth"></div>
		</div>
		<div class="col">
			<div class="block2 hoverblack block4" id="jqrd">
				<h3>
					<div id="jqrd-title"></div>
				</h3>
				<ul id="jqrd-list"></ul>
			</div>
			<div class="block2 hoverblack block4" id="mhdt">
				<h3>
					<div id="mhdt-title"></div>
				</h3>
				<ul id="mhdt-list"></ul>
			</div>			
		</div>		
		
		<div class="col">
			<div class="block2 hoverblack block4" id="qyzs">
				<h3>
					<div id="qyzs-title"></div>
				</h3>
				<ul id="qyzs-list"></ul>
			</div>
			<div class="block2 hoverblack block4" id="tstb">
				<h3>
					<div id="tstb-title"></div>
				</h3>
				<ul id="tstb-list"></ul>
			</div>			
		</div>				
		
		<div class="col">
			<div class="block2 hoverblack" id="gggs">
				<h3>
					<div id="gggs-title"></div>
				</h3>
				<ul id="gggs-list"></ul>
			</div>
			<div class="block2 hoverblack" id="sqtz">
				<h3>
					<div id="sqtz-title"></div>
				</h3>
				<ul id="sqtz-list"></ul>
			</div>
			<div class="block2 hoverblack" id="bzzn">
				<h3>
					<div id="bzzn-title"></div>
				</h3>
				<ul id="bzzn-list"></ul>
			</div>
			<div class="clearboth"></div>
		</div>		
		<div class="col">
		
			<div class="block2 hoverblack" id="zjyj">
				<h3>
					<div id="zjyj-title"></div>
				</h3>
				<ul id="zjyj-list"></ul>
			</div>	

			<div class="block2 hoverblack" id="hlzn">
				<h3>
					<div>
						<a href="http://www.caacca.org/hlzn/" title="航旅指南">航旅指南</a>
					</div>
				</h3>
				<ul>
					<li><a href="http://www.caacca.org/hlzn/cj/" title="乘机">乘机</a>
					</li>
					<li><a href="http://www.caacca.org/hlzn/bzchb/" title="不正常航班">不正常航班</a>
					</li>
					<li><a href="http://www.caacca.org/hlzn/dzkp/" title="电子客票">电子客票</a>
					</li>
					<li><a href="http://www.caacca.org/hlzn/aj/" title="安检">安检</a>
					</li>
					<li><a href="http://www.caacca.org/hlzn/kcaq/" title="客舱安全">客舱安全</a>
					</li>
					<li><a href="http://www.caacca.org/hlzn/xl/" title="行李">行李</a>
					</li>
					<li><a href="http://www.caacca.org/hlzn/hljk/" title="航旅健康">航旅健康</a>
					</li>
					<li><a href="http://www.caacca.org/hlzn/qt/" title="其他">其他</a>
					</li>
				</ul>
			</div>

			<div class="block2 hoverblack" id="yqlj">
				<h3>
					<div>
						<a href="http://www.caacca.org/yqlj/" title="友情链接">友情链接</a>
					</div>
				</h3>
				<ul>
					<li><a href="http://www.caac.gov.cn" title="民航局">民航局</a></li>
					<li><a href="http://www.cca.org.cn/" title="中消协">中消协</a></li>
					<li><a href="http://www.castc.org.cn" title="航科院">航科院</a></li>
					<li><a href="http://www.caacnews.com.cn/news2011/news.aspx" title="中国民航报">中国民航报</a></li>
					<li><a href="http://www.carnoc.com/" title="民航资源网">民航资源网</a></li>
					<li><a href="http://www.airnews.cn/" title="中国民航信息网">中国民航信息网</a>
					</li>
					<li><a href="http://air.sohu.com/" title="搜狐航空频道">搜狐航空频道</a></li>
					<li><a href="http://www.xinhuanet.com/" title="新华网">新华网</a></li>
					<li><a href="http://www.traveldaily.cn/" title="环球旅讯">环球旅讯</a>
					</li>
				</ul>
			</div>

			
			
			
			
		</div>










	</div>
	<include src="footer.html" />
	<div id="flash"></div>
</body>
</html>