<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="keywords" content="松原市人民政府网站,松原市人民政府无障碍" />
<meta http-equiv="description" content="松原市人民政府无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/jQuery.md5.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/lunbo.js"></script>
<script type="text/javascript" src="../etc/js/index.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/index.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/lunbo.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div class="col">
			<div class="slide hoverblack" id="slide">
				<div id="showImg_1">
				</div>
			</div>
        <!--四个信息-->  
          	<div class="block1 hoverblack" id="jqrd">
				<h3>
					<div id="jqrd-title"></div>
				</h3>
				<div id="jqrd-list"></div> 
			</div>
			<div class="block1 hoverblack" id="mhdt"><!--区县信息-->
				<h3>
					<div id="mhdt-title"></div>
				</h3>
 				<ul id="mhdt-list"></ul>
			</div>			
			<div class="block1 hoverblack" id="qyzs">
				<h3>
					<div id="qyzs-title"></div>
				</h3>
 				<ul id="qyzs-list"><li></li></ul>
			</div>
			<div class="block1 hoverblack" id="tstb">
				<h3>
					<div id="tstb-title"></div>
				</h3>
 				<ul id="tstb-list"><li></li></ul>
			</div>
     		<div class="clearboth"></div>
		</div>

      <!------第三行------------------------------------------------------------->
      		<div class="col">
           	<div class="block2 hoverblack" id="ftjx">
				<h3 id="ftjx_title">
				</h3>
				<ul id="tzgg-list"></ul>
			</div>             
              
           <div class="block2 hoverblack" id="ftdt">
				<h3 id="ftdt_title">
				</h3>
				<ul id="zcwj-list"></ul>
			</div>  

            <div class="block2 hoverblack" id="tj">
				<h3>
					<div id="tj-title"></div>
				</h3>
 				<ul id="tj-list">
                  <li id="tj-list-1"></li>
                  <li id="tj-list-2"></li>
              </ul>
			</div>
              
            <div class="block3 hoverblack" id="zwgk">
				<h3>
					<div id="zwgk-title"></div>
				</h3>
 		<!--		<ul id="zwgk-list"></ul>-->
			</div>              
              
              
			<div class="clearboth"></div>
		</div>		
		<!------第二行------------------------------------------------------------->
				<div class="col">
                  
            <div class="block2 hoverblack" id="hd">
				<h3 id="hd_title">
				</h3>
				<ul id="hd-list"></ul>
			</div>                     
			<div class="block3 hoverblack" id="gggs">
 				 <h3>
					<div id="gggs-title"></div>
				</h3>
              <ul id="gggs-list"><li></li></ul>
			</div>
			<div class="block3 hoverblack" id="sqtz">
				<h3>
					<div id="sqtz-title"></div>
				</h3>
				<ul id="sqtz-list"><li></li></ul>
			</div>

			<div class="block3 hoverblack" id="zt">
				<h3>
					<div id="zt-title"></div>
				</h3>
 				<ul id="sqtz-list"><li></li></ul>
			</div>                  
			<div class="block3 hoverblack" id="bzzn">
             <ul id="bzzn-list">
               <li></li>
              </ul>
              <div class="wszx_bg"></div>
				<h3>
					<div id="bzzn-title"></div>
				</h3>
			</div>
                <img id="xiao_hf" src="../etc/image/hdjl.jpg" alt="互动交流" title="互动交流"/>
			<div class="clearboth"></div>
		</div>
        <!--横幅-->
          <!--
      		<div class="col">
      
			<div class="block5 hoverblack" id="bgxz">
				<h3 id="bgxz-title">
					<a href="http://www.jlsy.gov.cn/bsfw/bs/bgxz/" title="表格下载">表格下载</a>
				</h3>
				<div id="bgxz-list"></div>
			</div>	
          <img src="../etc/image/zdy.png"/>




          <div class="clearboth"></div>
	</div>
-->
      <!--办事服务-->
		<div class="col">	
                        <img id="ggfw" src="../etc/image/ggfw1.jpg" alt="公共服务" title="公共服务" />
          <!--
          <div class="block2 hoverblack" id="bs">
				<h3 id="bs_title">
				</h3>
				<ul id="bs-list"></ul>
			</div>
-->
          
			<div class="block4 hoverblack slide_grqydw" id="grbs">
             <!--
				<h3 id="grbs-title">
					<a href="http://www.jlsy.gov.cn/bsfw/fw/flfw/gm/" title="个人办事">个人办事</a>
				</h3>
			-->
				<div id="grbs-list">
                    <div class="parBd">
                      <ul class="slideBox" >
                          <li class="icon_fw" id="icon_fw"><i></i></li>
                          <li class="icon_sb" id="icon_sb"><i></i></li>
                          <li class="icon_hj"  id="icon_hj"><i></i></li>
                          <li class="icon_hysy" id="icon_hysy"><i></i></li>
                          <li class="icon_ns" id="icon_ns"><i></i></li>
                          <li class="icon_crj" id="icon_crj"><i></i></li>
                          <li class="icon_ldjy" id="icon_ldjy"><i></i></li>
                          <li class="icon_jy" id="icon_jy"><i></i></li>
                          <li class="icon_yl" id="icon_yl"><i></i></li>
                      </ul>
                  </div>
              </div>
			</div>
			<div class="block4 hoverblack slide_grqydw" id="qybs">
              <!--
              	<h3 id="grbs-title">
					<a href="http://www.jlsy.gov.cn/bsfw/fw/flfw/qy/" title="企业办事">企业办事</a>
				</h3>
              -->
              <div class="parBd">
                     <ul class="slideBox" >
                       <li class="icon_qy_01" id="icon_qy_01"><i></i></li>
                        <li class="icon_qy_06" id="icon_qy_06"><i></i></li>
                        <li class="icon_qy_03" id="icon_qy_03"><i></i></li>
                        <li class="icon_qy_04" id="icon_qy_04"><i></i></li>
                        <li class="icon_qy_05" id="icon_qy_05"><i></i></li>
                        <li class="icon_qy_07" id="icon_qy_07"><i></i></li>
                        <li class="icon_qy_02" id="icon_qy_02"><i></i></li>
                        <li class="icon_qy_09" id="icon_qy_09"><i></i></li>
                        <li class="icon_qy_08" id="icon_qy_08"><i></i></li>
                    </ul>
                </div>
			</div>
          
          	<div class="block5 hoverblack" id="bgxz">
				<h3 id="bgxz-title">
					<a href="http://www.jlsy.gov.cn/bsfw/bs/bgxz/" title="表格下载">表格下载</a>
				</h3>
				<div id="bgxz-list"></div>
			</div>
			
			<div class="block5 hoverblack" id="bs">
				<h3 id="bs-title"></h3>
				<div id="bs-list"></div>
			</div>
			
			
				
			<div class="clearboth"></div>
		</div>
	</div>



	</div>
	<include src="footer.html" />
	<div id="flash"></div>
</body>
</html>