<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="keywords" content="中国民用航空局消费者事务中心网站,中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="description" content="中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/jQuery.md5.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/index.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/index.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div class="col">
			<div class="slide hoverblack" id="slide">
				<div id="slide1"></div>
				<div id="slide_title">
					<p id="slide_title1"></p>
				</div>
				<div class="clearboth"></div>
			</div>
			<div class="block1 hoverblack" id="ftdt">
				<h3 id="ftdt_title"><a href="http://www.baic.gov.cn/zxfw2/" title="办事咨询">办事咨询</a></h3>
			</div>
			<div class="block1 hoverblack" id="bmdt">
				<h3 id="bmdt_title"><a href="http://www.baic.gov.cn/zxfw2/sjfb/" title="数据发布">数据发布</a></h3>
			</div>
			<div class="block1 hoverblack" id="ftjx">
				<h3 id="ftjx_title"><a href="http://www.baic.gov.cn/zmhd/" title="投诉举报">投诉举报</a></h3>
			</div>
			<div class="block1 hoverblack" id="spxw">
				<h3 id="spxw_title"><a href="http://www.baic.gov.cn/mess/message/leavemess_new.jsp" title="公众来信">公众来信</a></h3>
			</div>
			<div class="clearboth"></div>
		</div>
		<div class="col">
			<div class="block2 hoverblack" id="gggs">
				<h3>
					<div id="gggs-title"></div>
				</h3>
				<ul id="gggs-list"></ul>
			</div>
			<div class="block2 hoverblack" id="sqtz">
				<h3>
					<div id="sqtz-title"><a href="http://www.baic.gov.cn/xxgk/jqdt/" title="局情动态">局情动态</a></div>
				</h3>
			</div>
			<div class="block2 hoverblack" id="bzzn">
				<h3>办照指南</h3>
				<ul id="bzzn_content"></ul>
			</div>
			<div class="block2 hoverblack" id="yfjy">
				<h3>依法经营</h3>
				<ul id="yfjy_content"></ul>
			</div>
			<div class="block2 hoverblack" id="tshfxd">
				<h3>
					<div id="tshfxd_title"><a href="http://www.baic.gov.cn/zmhd/dxal/" title="投诉回复选登">投诉回复选登</a></div>				
				</h3>
			</div>
			<div class="block2 hoverblack" id="xfts">
				<h3>
					<div id="xfts_title"><a href="http://www.baic.gov.cn/zmhd/xfjs/" title="消费提示">消费提示</a></div>
				</h3>
			</div>
			<div class="block2 hoverblack" id="xfwq">
				<h3>消费维权</h3>
				<ul id="xfwq_content"></ul>
			</div>
			<div class="clearboth"></div>
		</div>
		<div class="col">
		
			<div id="box_left">
<!-- 				<div class="block3 hoverblack" id="htsfwb"> -->
<!-- 					<h3 id="mszc"> -->
<!-- 						<a href="http://www.baic.gov.cn/zxbs/htsfwb/">合同示范文本</a> -->
<!-- 					</h3> -->
<!-- 				</div> -->
				<div class="block3 hoverblack" id="shxfl">
					<h3>
						<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/" title="生活消费类文本">生活消费类文本</a>
					</h3>
				</div>
				<div class="block3 hoverblack" id="nznyl">
					<h3>
						<a href="http://www.baic.gov.cn/zxbs/htsfwb/nznyl/" title="农资农业类文本">农资农业类文本</a>
					</h3>					
				</div>
				<div class="block3 hoverblack" id="scjyl">
					<h3>
						<a href="http://www.baic.gov.cn/zxbs/htsfwb/scjyl/" title="生产经营类文本">生产经营类文本</a>
					</h3>	
				</div>
				<div class="block3 hoverblack" id="jzgcl">
					<h3>
						<a href="http://www.baic.gov.cn/zxbs/htsfwb/jzgcl/" title="建筑工程类文本">建筑工程类文本</a>
					</h3>	
				</div>
				<div class="block3 hoverblack" id="spaql">
					<h3>
						<a href="http://www.baic.gov.cn/zxbs/htsfwb/spaql/" title="食品安全类文本">食品安全类文本</a>
					</h3>
				</div>
			</div>
			<div id="box_right">
				<div class="block3 hoverblack block111" id="dlzc">
					<h3 id="dlzc_title">
						<a href="http://www.baic.gov.cn/zxbs/djzc/bszn/" title="登记注册办事指南">登记注册办事指南</a>
					</h3>
				</div>
				<div class="block3 hoverblack block111" id="dlzcbgxz">
					<h3 id="dlzcbgxz_title">
						<a href="http://www.baic.gov.cn/zxbs/djzc/bgxz/djzc_mc/" title="登记注册表格下载">登记注册表格下载</a>
					</h3>
				</div>
				<div class="block3 hoverblack block111" id="bggg">
					<h3 id="bggg_title">
						<a href="http://www.baic.gov.cn/zxbs/njyz/bszn/" title="报告公示">报告公示</a>
					</h3>
				</div>
				<div class="block3 hoverblack block111" id="other">
					<h3 id="other_title">
						<a href="http://www.baic.gov.cn/zxbs/" title="其他业务">其他业务</a>
					</h3>
				</div>
			</div>
			<div class="clearboth"></div>
		</div>
	</div>
	<include src="footer.html" />
	<div id="flash"></div>
</body>
</html>