<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="松原市人民政府网站,松原市人民政府无障碍" />
<meta http-equiv="description" content="松原市人民政府无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/list-csmp.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/list-csmp.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav"></div>
			<div class="col">
				<div class="block2">
					<div class="title">
						<h3 id="zfxx_title">松原美食</h3>
						<div class="more">
							<h4 id="syyw_more">
								<a href="http://zt.jlsy.gov.cn/symp/lydh/ms/" title="更多">更多&gt;&gt;</a>
							</h4>
						</div>
					</div>
					<div id="zfxximg" class="img"></div>
					<div id="zfxx" class="txt2"></div>
					<div style="clear:both;"></div> 
				</div>
				<div class="block2">
					<div id="cdimg" class="img"></div>
					<div id="cdxx" class="txt2"></div>
					<div style="clear:both;"></div> 
				</div>
				
			</div>

			<div class="col">
				<div class="block2">
						<div class="title">
							<h3 id="zzsy_title">住在松原</h3>
							<div class="more">
								<h4 id="zzsy_more">
									<a href="http://zt.jlsy.gov.cn/symp/lydh/zs/" title="更多">更多&gt;&gt;</a>
								</h4>
							</div>
						</div>
						<div id="zzsyimg" class="img"></div>
						<div id="zzsy" class="txt2"></div>
						<div style="clear:both;"></div> 
				</div>
				<div class="block2">
						<div id="zzsy2img" class="img"></div>
						<div id="zzsy2" class="txt2"></div>
						<div style="clear:both;"></div> 
				</div>
			</div>









<!-- 			<div class="col"> -->
<!-- 				<div class="block2"> -->
<!-- 					<div class="title"> -->
<!-- 						<h3 id="sl_title">水利资源</h3> -->
<!-- 					</div> -->
<!-- 					<div id="slimg" class="img"></div> -->
<!-- 					<div id="slxx" class="txt2"></div> -->
<!-- 					<div style="clear:both;"></div>  -->
<!-- 				</div> -->
<!-- 			</div> -->

<!-- 			<div class="col"> -->
<!-- 				<div class="block2"> -->
<!-- 					<div class="title"> -->
<!-- 						<h3 id="sl_title">矿产资源</h3> -->
<!-- 					</div> -->
<!-- 					<div id="kcimg" class="img"></div> -->
<!-- 					<div id="kcxx" class="txt2"></div> -->
<!-- 					<div style="clear:both;"></div>  -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="col"> -->
<!-- 				<div class="block2"> -->
<!-- 					<div class="title"> -->
<!-- 						<h3 id="sll_title">森林资源</h3> -->
<!-- 					</div> -->
<!-- 					<div id="sllimg" class="img"></div> -->
<!-- 					<div id="sllxx" class="txt2"></div> -->
<!-- 					<div style="clear:both;"></div>  -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="col"> -->
<!-- 				<div class="block2"> -->
<!-- 					<div class="title"> -->
<!-- 						<h3 id="jt_title">交通资源</h3> -->
<!-- 					</div> -->
<!-- 					<div id="jtimg" class="img"></div> -->
<!-- 					<div id="jtxx" class="txt2"></div> -->
<!-- 					<div style="clear:both;"></div>  -->
<!-- 				</div> -->
<!-- 			</div> -->


	<include src="footer.html" />
</body>
</html>