<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="中国民用航空局消费者事务中心网站,中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="description" content="中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/lksc.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/lksc.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav"></div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="zfxx_title"></h3>
				</div>
				<div id="zfxx" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="ztff_title"></h3>
				</div>
				<div id="ztff" class="txt"></div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>