<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="松原市人民政府网站,松原市人民政府无障碍" />
<meta http-equiv="description" content="松原市人民政府无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/jQuery.md5.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/qzqd.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/qzqd.css" />
</head>
<body>
	<include src="header.html" />
		<div class="main">
			<div id="Sbmenu"></div>
			<div id="NewsListConter" class="txt"></div>
			<div id="page" class="title"></div>
		</div>
	<include src="footer.html" />
</body>
</html>