<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>生活消费类</title>
<meta http-equiv="keywords" content="北京工商局无障碍网站,北京工商局无障碍" />
<meta http-equiv="description" content="北京工商局无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/list-contract.css" />
</head>
<body>
	<include src="header.html" />
	<div id="main">
		<div id="Sbmenu"></div>
		<div id="NewsListConter" class="txt">
			<table>
				<tbody>
					<tr>
						<td><span> 电信</span></td>
						<td><a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/dx/201601/t20160108_1257161.htm" title="北京市电话通信业务入网服务合同正式版20151106(下载5次)">北京市电话通信业务入网服务合同正式版20151106(下载5次)</a><br>
								<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/dx/201408/P020140827564874325855.doc" title="北京市固定电话入网合同(下载2372次)">北京市固定电话入网合同(下载2372次)</a><br>
									<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/dx/201408/P020140827564873689927.doc" title="北京市移动电话入网合同(下载2350次)">北京市移动电话入网合同(下载2350次)</a><br>
						</td>
					</tr>
					<tr>
						<td><span> 房屋</span></td>
						<td><a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/t20140827_1187242.htm" title="北京市存量房屋买卖合同（自行成交版）(下载4339次)">北京市存量房屋买卖合同（自行成交版）(下载4339次)</a><br>
								<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/t20140827_1187241.htm" title="北京市存量房屋买卖合同（经纪成交版）(下载1588次)">北京市存量房屋买卖合同（经纪成交版）(下载1588次)</a><br>
									<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/t20140827_1187240.htm" title="北京市商品房现房买卖合同（2010年版）(下载2611次)">北京市商品房现房买卖合同（2010年版）(下载2611次)</a><br>
										<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/t20140827_1187239.htm" title="北京市商品房预售合同（2010年版）(下载1189次)">北京市商品房预售合同（2010年版）(下载1189次)</a><br>
											<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/P020140827567836011694.doc" title="北京市房屋委托出租代理合同2008正式版(下载7422次)">北京市房屋委托出租代理合同2008正式版(下载7422次)</a><br>
												<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/t20140827_1187237.htm" title="北京市房屋租赁合同（经纪机构代理成交版）2008正式版(下载17450次)">北京市房屋租赁合同（经纪机构代理成交版）2008正式版(下载17450次)</a><br>
													<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/t20140827_1187236.htm" title="北京市前期物业服务合同2010年版(下载1851次)">北京市前期物业服务合同2010年版(下载1851次)</a><br>
														<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/P020140827567834551981.doc" title="北京市商品房认购书(下载2826次)">北京市商品房认购书(下载2826次)</a><br>
															<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/t20140827_1187234.htm" title="北京市房屋租赁合同（经纪机构居间成交版）2008正式版(下载19668次)">北京市房屋租赁合同（经纪机构居间成交版）2008正式版(下载19668次)</a><br>
																<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/P020140827567833546879.doc" title="北京市房屋承租居间合同(下载11908次)">北京市房屋承租居间合同(下载11908次)</a><br>
																	<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/P020140827567833093875.doc" title="北京市房屋租赁合同（自行成交版)2008正式版(下载64334次)">北京市房屋租赁合同（自行成交版)2008正式版(下载64334次)</a><br>
																		<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/P020140827567832221203.doc" title="北京市房屋出租居间合同(下载8863次)">北京市房屋出租居间合同(下载8863次)</a><br>
																			<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/fw/201408/t20140827_1187230.htm" title="北京市物业服务合同2010年版(下载1761次)">北京市物业服务合同2010年版(下载1761次)</a><br>
						</td>
					</tr>
					<tr>
						<td><span> 旅游</span></td>
						<td><a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/ly/201409/t20140903_1190975.htm" title="团队境内旅游合同(下载388次)">团队境内旅游合同(下载388次)</a><br>
								<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/ly/201409/t20140903_1190972.htm" title="团队出境旅游合同(下载387次)">团队出境旅游合同(下载387次)</a><br> <a
									href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/ly/201409/t20140903_1190970.htm" title="大陆居民赴台湾地区旅游合同(下载182次)">大陆居民赴台湾地区旅游合同(下载182次)</a><br>
										<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/ly/201408/t20140827_1187246.htm" title="《北京市一日游合同》（2008版）(下载1337次)">《北京市一日游合同》（2008版）(下载1337次)</a><br>
											<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/ly/201408/t20140827_1187245.htm" title="北京市乡村民俗旅游合同(下载1355次)">北京市乡村民俗旅游合同(下载1355次)</a><br>
												<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/ly/201408/t20140827_1187244.htm" title="北京市出境旅游合同2009版(下载1673次)">北京市出境旅游合同2009版(下载1673次)</a><br>
													<a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/ly/201408/t20140827_1187243.htm" title="北京市国内旅游合同2009版(下载2458次)">北京市国内旅游合同2009版(下载2458次)</a><br>
						</td>
					</tr>
					<tr>
						<td><span> 汽车</span></td>
						<td><a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qc/201601/t20160108_1257162.htm" title="北京市汽车租赁合同示范文本20151117(下载19次)">北京市汽车租赁合同示范文本20151117(下载19次)</a><br> <a
								href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qc/201408/P020140827568494501025.doc" title="北京市汽车买卖合同(下载4347次)">北京市汽车买卖合同(下载4347次)</a><br> <a
									href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qc/201408/t20140827_1187250.htm" title="北京市汽车维修合同(下载1236次)">北京市汽车维修合同(下载1236次)</a><br> <a
										href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qc/201408/P020140827568493182438.doc" title="北京市汽车租赁合同(下载4377次)">北京市汽车租赁合同(下载4377次)</a><br> <a
											href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qc/201408/P020140827568492767753.doc" title="北京市旧机动车买卖合同(下载2700次)">北京市旧机动车买卖合同(下载2700次)</a><br> <a
												href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qc/201408/P020140827568492140744.doc" title="北京市二手车行纪销售合同(下载1053次)">北京市二手车行纪销售合同(下载1053次)</a><br>
						</td>
					</tr>
					<tr>
						<td><span> 装修</span></td>
						<td><a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/zx/201408/P020140827568688480361.doc" title="2009版北京市家具买卖合同填写指南(下载2525次)">2009版北京市家具买卖合同填写指南(下载2525次)</a><br> <a
								href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/zx/201408/P020140827568688073007.doc" title="北京市家庭居室装饰装修工程施工合同(下载18515次)">北京市家庭居室装饰装修工程施工合同(下载18515次)</a><br> <a
									href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/zx/201408/P020140827568687703357.doc" title="北京市建材买卖合同（布艺类）(下载1778次)">北京市建材买卖合同（布艺类）(下载1778次)</a><br> <a
										href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/zx/201408/P020140827568687290256.doc" title="北京市建材买卖合同（卫浴洁具类）(下载2535次)">北京市建材买卖合同（卫浴洁具类）(下载2535次)</a><br> <a
											href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/zx/201408/t20140827_1187254.htm" title="北京市家具买卖合同2009版(下载2113次)">北京市家具买卖合同2009版(下载2113次)</a><br> <a
												href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/zx/201408/P020140827568686266652.doc" title="北京市建材买卖合同（橱柜订购类）(下载1396次)">北京市建材买卖合同（橱柜订购类）(下载1396次)</a><br> <a
													href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/zx/201408/P020140827568685820261.doc" title="北京市建材买卖合同（墙地砖类）(下载1768次)">北京市建材买卖合同（墙地砖类）(下载1768次)</a><br>
						</td>
					</tr>
					<tr>
						<td><span> 其他</span></td>
						<td><a href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/t20140827_1187270.htm" title="北京市休闲健身行业预付费服务交易合同使用指南(下载394次)">北京市休闲健身行业预付费服务交易合同使用指南(下载394次)</a><br> <a
								href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/t20140827_1187269.htm" title="北京市休闲健身行业预付费服务交易合同(下载383次)">北京市休闲健身行业预付费服务交易合同(下载383次)</a><br> <a
									href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/P020140827568958576404.doc" title="北京市道路货物运输合同(下载1443次)">北京市道路货物运输合同(下载1443次)</a><br> <a
										href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/P020140827568958192019.doc" title="北京市洗染服务合同(下载658次)">北京市洗染服务合同(下载658次)</a><br> <a
											href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/P020140827568957603524.doc" title="北京市婚纱摄影服务合同(下载1205次)">北京市婚纱摄影服务合同(下载1205次)</a><br> <a
												href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/P020140827568957132483.doc" title="北京市婚纱摄影服务合同填写指南(下载1121次)">北京市婚纱摄影服务合同填写指南(下载1121次)</a><br> <a
													href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/t20140827_1187264.htm" title="北京市消费类预付费服务交易合同行为指引（试行）(下载593次)">北京市消费类预付费服务交易合同行为指引（试行）(下载593次)</a><br> <a
														href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/P020140827568956162385.doc" title="北京市家政服务合同(下载1998次)">北京市家政服务合同(下载1998次)</a><br> <a
															href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/P020140827568955754216.doc" title="北京市居民供热采暖合同(按面积收费版)(下载1358次)">北京市居民供热采暖合同(按面积收费版)(下载1358次)</a><br> <a
																href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/t20140827_1187261.htm" title="北京市居民供热采暖合同（按热计量计费版）(下载395次)">北京市居民供热采暖合同（按热计量计费版）(下载395次)</a><br> <a
																	href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/P020140827568954763802.doc" title="北京市婚礼服务合同(下载1762次)">北京市婚礼服务合同(下载1762次)</a><br> <a
																		href="http://www.baic.gov.cn/zxbs/htsfwb/shxfl/qt/201408/P020140827568954235781.doc" title="北京市订餐服务合同(下载1454次)">北京市订餐服务合同(下载1454次)</a><br>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<include src="footer.html" />
</body>
</html>