<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head id="header">
<title>投诉登记单</title>
<meta http-equiv="keywords" content="北京工商局无障碍网站,北京工商局无障碍" />
<meta http-equiv="description" content="北京工商局无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/tsdj.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/My97DatePicker/WdatePicker.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/tsdj.css" />
</head>

<body>
	<include src="header.html" />
	<div class="main">
		<form action="">
			<table class="erjibg">
				<tbody>
					<tr>
						<td>
							<div class="title">投诉登记单</div>
						</td>
					</tr>
					<tr>
						<td>
							<table>
								<tbody>
									<tr>
										<td class="left_td">消费者信息：</td>
										<td></td>
									</tr>
									<tr>
										<td class="first_td">姓名:</td>
										<td class="after_td"><input id="name" type="text" name="name" title="请输入姓名" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入姓名"/><span style="color: red;">&nbsp;&nbsp;*</span></td>
									</tr>
									<tr>
										<td class="first_td">性别:</td>
										<td class="after_td"><input type="radio" name="gender" value="男" title="性别" checked="checked" />男&nbsp;&nbsp; <input type="radio"
											name="gender" value="女" title="性别" />女</td>
									</tr>
									<tr>
										<td class="first_td">联系电话:</td>
										<td class="after_td"><input id="phone" type="text" name="phone" title="请输入联系电话" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入联系电话"/><span style="color: red;">&nbsp;&nbsp;*</span>
										</td>
									</tr>
									<tr>
										<td class="first_td">通讯地址:</td>
										<td class="after_td"><input id="adress" type="text" name="adress" title="请输入通讯地址" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入通讯地址"/>
										</td>
									</tr>
								</tbody>
							</table></td>
					</tr>
					<tr>
						<td>
							<table>
								<tbody>
									<tr>
										<td class="left_td">被投诉方信息:</td>
										<td></td>
									</tr>
									<tr>
										<td class="first_td">名称:</td>
										<td class="after_td"><input id="designation" name="designation" type="text" title="请输入名称" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入名称"/><span style="color: red;">&nbsp;&nbsp;*</span>
										</td>
									</tr>
									<tr>
										<td class="first_td">地址:</td>
										<td class="after_td">北京市&nbsp;&nbsp;<select id="city" title="请选择地址">
												<option value="请选择" selected="selected">请选择</option>
												<option value="西城区">西城区</option>
												<option value="东城区">东城区</option>
												<option value="崇文区">崇文区</option>
												<option value="宣武区">宣武区</option>
												<option value="朝阳区">朝阳区</option>
												<option value="怀柔区">怀柔区</option>
												<option value="海淀区">海淀区</option>
												<option value="丰台区">丰台区</option>
												<option value="石景山区">石景山区</option>
												<option value="门头沟区">门头沟区</option>
												<option value="房山区">房山区</option>
												<option value="通州区">通州区</option>
												<option value="顺义区">顺义区</option>
												<option value="大兴区">大兴区</option>
												<option value="密云县">密云县</option>
												<option value="昌平区">昌平区</option>
												<option value="平谷区">平谷区</option>
												<option value="延庆县">延庆县</option>
												<option value="燕山">燕山</option>
										</select><span style="color: red;">&nbsp;&nbsp;*</span> <input id="local" name="local" type="text" title="请输入地址" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入地址"/><span style="color: red;">&nbsp;&nbsp;*</span></td>
									</tr>
									<tr>
										<td class="first_td">联系电话:</td>
										<td class="after_td"><input id="number" name="number" type="text" title="请输入联系电话" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入联系电话"/>
										</td>
									</tr>
								</tbody>
							</table></td>
					</tr>
					<tr>
						<td>
							<table>
								<tbody>
									<tr>
										<td class="left_td">投诉内容:</td>
										<td></td>
									</tr>
									<tr>
										<td class="first_td">商品/服务:</td>
										<td class="after_td"><input name="goods" type="radio" title="请选择" value="商品" checked="checked" />商品&nbsp;&nbsp;&nbsp; <input
											name="goods" type="radio" title="请选择" value="服务" />服务</td>
									</tr>
									<tr>
										<td class="first_td">商品/服务名称:</td>
										<td class="after_td"><input id="goods_name" name="goods_name" type="text" title="请输入商品或服务名称" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入商品或服务名称"/><span style="color: red;">&nbsp;&nbsp;*</span></td>
									</tr>
									<tr>
										<td class="first_td">品牌:</td>
										<td class="after_td"><input id="brand" name="brand" type="text" title="请输入品牌" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入品牌"/></td>
									</tr>
									<tr>
										<td class="first_td">型号:</td>
										<td class="after_td"><input id="model" name="model" type="text" title="请输入型号" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入型号"/></td>
									</tr>
									<tr>
										<td class="first_td">数量:</td>
										<td class="after_td"><input id="count" name="count" type="text" title="请输入数量" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入数量"/></td>
									</tr>
									<tr>
										<td class="first_td">商品/服务价格:</td>
										<td class="after_td"><input id="price" name="price" type="text" title="请输入商品/服务价格" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" value="请输入商品或服务价格"/></td>
									</tr>
									<tr>
										<td class="first_td">凭证:</td>
										<td class="after_td"><select id="voucher" name="voucher" title="请选择">
												<option value="请选择" selected="selected">请选择</option>
												<option value="发票">发票</option>
												<option value="收据">收据</option>
												<option value="合同">合同</option>
												<option value="其他">其他</option>
										</select><span style="color: red;">&nbsp;&nbsp;*</span></td>
									</tr>
									<tr>
										<td class="first_td">购买(接收服务)时间:</td>
										<td class="after_td"><input id="buy_time" name="buy_time" type="text" class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
											readonly="readonly" title="请选择 购买(接收服务)时间:"/>&nbsp;&nbsp;<span style="color: red;"><span style="color: red;">&nbsp;&nbsp;*</span>注：有效期一年</span></td>
									</tr>
									<tr>
										<td class="first_td">事件发生时间:</td>
										<td class="after_td"><input id="happen_time" name="happen_time" type="text" class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
											readonly="readonly" title="请选择 事件发生时间:"/><span style="color: red;">&nbsp;&nbsp;*</span></td>
									</tr>
									<tr>
										<td class="first_td">简要情况:</td>
										<td class="after_td">请不要超过400个汉字（包括标点）</td>
									</tr>
									<tr>
										<td class="first_td"></td>
										<td class="after_td"><textarea id="content" name="content" rows="10" cols="80" title="请输入内容" onFocus="if(value=='请不要超过400个汉字（包括标点）'){value='';this.style.color='#000'}" onBlur="if(!value){value='请不要超过400个汉字（包括标点）';this.style.color='#999'}" style="color: #999;">请不要超过400个汉字（包括标点）</textarea><span style="color: red;">&nbsp;&nbsp;*</span></td>
									</tr>
									<tr>
										<td class="first_td">验证码:</td>
										<td class="after_td"><input id="code" type="text" title="请输入验证码" onFocus="if(value==defaultValue){value='';this.style.color='#000'};esdonfocus();" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" value="请输入验证码" style="color: #999;"/><img id="verifyImage" title="验证码" alt="验证码" /><img id="audio" src="../etc/image/volume2.png" alt="播放验证码" title="播放验证码" onclick="esdonfocus();"/><input type="hidden" id="voicepath" /></td>
									</tr>
									<tr>
										<td class="first_td">注意:</td>
										<td class="after_td">
											(1) 、请您如实按要求填写投诉登记单的内容,简要情况栏不要超过400个汉字（包括标点）<br />
											(2) 、标有“*”的信息项，请您务必填写内容，否则申诉登记单无法提交。<br />
											(3) 、请使用IE7,8,9版本以及IE内核浏览器进行填写（其他浏览器可能会出现不兼容的情况）
										</td>
									</tr>
									<tr>
										<td colspan="2"><input value="提交" type="button" name="SubmitButton" id="SubmitButton" title="提交"> <input value="重置"
												type="reset" name="ResetButton" id="ResetButton" title="重置">
										</td>
									</tr>
								</tbody>
							</table></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<script type="text/javascript" src="../etc/tool/Voice.js"></script>
	<include src="footer.html" />
</body>
</html>