<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>增加投诉信息</title>
<meta http-equiv="keywords" content="中国民用航空局消费者事务中心网站,中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="description" content="中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="../etc/My97DatePicker/WdatePicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../etc/jquery-validation-1.15.0/dist/jquery.validate.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="../etc/jquery-validation-1.15.0/dist/localization/messages_zh.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="../etc/js/jquery.form.js"></script>
<script type="text/javascript" src="../etc/js/public.js" charset="UTF-8"></script>
<script type="text/javascript" src="../etc/js/wytsform.js" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/wytsform.css" />
</head>

<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_date">
			<h3>增加投诉信息</h3>
		</div>
		<form id="ts_form" action="/iac/addComplain" method="post" enctype="multipart/form-data">
			<div id="NewsShowConter_txt">
				<div class="tstj_top">
					<span> 投诉单位： </span> 
					<select id="province" name="conTarget" onChange="Change_Select()" title="投诉单位">
						<option value="1">国内航空公司</option>
						<option value="2">国外及地区航空公司</option>
						<option value="3">机场</option>
						<option value="4">地面服务代理人</option>
					</select> 
					<select name="conUnit" id="city" title="投诉单位">
						<option value="BK ">A奥凯航空有限公司</option>
						<option value="JD ">B北京首都航空有限公司</option>
						<option value="EU ">C成都航空有限公司</option>
						<option value="9C ">C春秋航空有限公司</option>
						<option value="OQ ">C重庆航空有限责任公司</option>
						<option value="9H ">C长安航空有限责任公司</option>
						<option value="8C ">D东星航空公司</option>
						<option value="GY ">D多彩贵州航空有限公司</option>
						<option value="CN ">D大新华航空有限公司</option>
						<option value="CD ">D大连航空有限公司</option>
						<option value="NS ">D河北航空有限公司</option>
						<option value="FU ">F福州航空有限责任公司</option>
						<option value="GX ">G广西北部湾航空有限责任公司</option>
						<option value="G5 ">H华夏航空有限公司</option>
						<option value="VD ">H河南航空有限公司</option>
						<option value="HU ">H海南航空股份有限公司</option>
						<option value="AQ ">J九元航空有限公司</option>
						<option value="RY ">J江西航空有限公司</option>
						<option value="KY ">K昆明航空有限公司</option>
						<option value="XX ">Q其他</option>
						<option value="QW ">Q青岛航空股份有限公司</option>
						<option value="DR ">R瑞丽航空有限公司</option>
						<option value="HO ">S上海吉祥航空有限公司</option>
						<option value="FM ">S上海航空股份有限公司</option>
						<option value="DZ ">S东海航空有限公司</option>
						<option value="3U ">S四川航空股份有限公司</option>
						<option value="SC ">S山东航空股份有限公司</option>
						<option value="ZH ">S深圳航空有限责任公司</option>
						<option value="GS ">T天津航空有限责任公司</option>
						<option value="UQ ">W乌鲁木齐航空有限责任公司</option>
						<option value="MF ">X厦门航空有限公司</option>
						<option value="JR ">X幸福航空有限责任公司</option>
						<option value="TV ">X西藏航空有限公司</option>
						<option value="PN ">X西部航空有限责任公司</option>
						<option value="8L ">Y云南祥鹏航空有限责任公司</option>
						<option value="YI ">Y云南英安航空有限公司</option>
						<option value="Y8 ">Y扬子江快运航空有限公司</option>
						<option value="MU ">Z中国东方航空股份有限公司</option>
						<option value="CZ ">Z中国南方航空股份有限公司</option>
						<option value="CA ">Z中国国际航空股份有限公司</option>
						<option value="KN ">Z中国联合航空有限公司</option>
						<option value="GJ ">Z浙江长龙航空公司</option>
					</select> 
					<span> 投诉的问题:</span> 
					<select name="conType" id="city1" title="投诉的问题">
						<option value="A">航班问题</option>
						<option value="B">超售</option>
						<option value="C">预定、票务、登机</option>
						<option value="D">票价</option>
						<option value="E">退款</option>
						<option value="F">行李</option>
						<option value="G">旅客服务</option>
						<option value="H">吸烟</option>
						<option value="I">广告</option>
						<option value="J">信用</option>
						<option value="K">旅行或包机</option>
						<option value="L">综合（包括常旅客）</option>
						<option value="M">残疾</option>
						<option value="N">动物：丢失、受伤、死亡</option>
						<option value="O">歧视（残疾人除外）</option>
						<option value="P">短信欺诈</option>
					</select>
				</div>
				<div class="tstj_content">
					<table>
						<tbody>
							<tr>
								<td class="alt">投诉人:</td>
								<td>
									<select name="passengerType" id="passengerType" title="投诉人类型">
											<option value="1">旅客</option>
											<option value="2">货主</option>
									</select> 
									<input type="text" name="passengerName" id="passengerName" value="请输入投诉人" title="请输入投诉人">
								</td>
								<td class="alt">证件信息:</td>
								<td>
									<select name="zhengjianid" id="zhengjianid" title="证件类型">
										<option value="身份证">身份证</option>
										<option value="护照">护照</option>
										<option value="军官证">军官证</option>
										<option value="港澳通行证">港澳通行证</option>
									</select> 
									<input type="text" name="shenfenId" id="shenfenId" value="请输入证件号" title="请输入证件号">
								</td>
							</tr>
							<tr>
								<td class="alt">航班号:</td>
								<td><input type="text" name="flightNo" id="flightNo" value="请输入航班号" title="请输入航班号"></td>
								<td class="alt">乘机日期:</td>
								<td><input type="text" style="width:170px" name="flightTime" id="rid" readonly="readonly" title="请选择乘机日期" class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" /> 
								</td>
							</tr>
							<tr>
								<td class="alt">联系电话:</td>
								<td><input type="text" name="passengerTel" id="passengerTel" value="请输入联系电话" title="请输入联系电话">
								</td>
								<td class="alt">电子邮件:</td>
								<td><input type="text" name="email" id="email" value="请输入电子邮件" title="请输入电子邮件" style="width: 170px">
								</td>
							</tr>
							<tr>
								<td class="alt">出发航站:</td>
								<td colspan="3"><select name="depPort" title="请选择出发航站" id="depPort">
										<option value="AKU">AKESU 阿克苏温宿机场</option>
										<option value="AAT">ALTAY 阿勒泰机场</option>
										<option value="AKA">ANKANG 安康五里铺机场</option>
										<option value="AQG">ANQING 安庆大龙山机场</option>
										<option value="AOG">ANSHAN 鞍山机场</option>
										<option value="AVA">ANSHUN 安顺黄果树机场</option>
										<option value="AYG">ANYANG 安阳机场</option>
										<option value="BSD">BAOSHAN 保山机场</option>
										<option value="BAV">BAOTOU 包头二里半机场</option>
										<option value="RLK">BAYANZHUOE 巴彦淖尔天吉泰机场</option>
										<option value="BHY">BEIHAI 北海福成机场</option>
										<option value="NAY">BEIJING 北京南苑机场</option>
										<option value="PEK">BEIJING 北京首都国际机场</option>
										<option value="BFU">BENGBU 蚌埠机场</option>
										<option value="NBS">CHANGBAISHAN 白山长白山机场</option>
										<option value="CGQ">CHANGCHUN 长春龙嘉国际机场</option>
										<option value="CGD">CHANGDE 常德桃花源机场</option>
										<option value="BPX">CHANGDU 昌都邦达机场</option>
										<option value="CNI">CHANGHAI 长海大长山岛机场</option>
										<option value="CSX">CHANGSHA 长沙黄花国际机场</option>
										<option value="CIH">CHANGZHI 长治王村机场</option>
										<option value="CZX">CHANGZHOU 常州奔牛机场</option>
										<option value="CHG">CHAOYANG 朝阳机场</option>
										<option value="CTU">CHENGDU 成都双流国际机场</option>
										<option value="CIF">CHIFENG 赤峰土城子机场</option>
										<option value="CKG">CHONGQING 重庆江北机场</option>
										<option value="DLC">DALAN 大连周水子机场</option>
										<option value="DLU">DALI 大理机场</option>
										<option value="DDG">DANDONG 丹东浪头机场</option>
										<option value="DCY">DAOCHENG 稻城亚丁机场</option>
										<option value="DQA">DAQING 大庆机场</option>
										<option value="DAT">DATONG 大同倍加皂机场</option>
										<option value="DAX">DAZHOU 达州河市霸机场</option>
										<option value="DOY">DONGYING 东营机场</option>
										<option value="DNH">DUNHUANG 敦煌机场</option>
										<option value="DSN">EERDUOSI 鄂尔多斯伊金霍洛机场</option>
										<option value="ENH">ENSHI 恩施许家坪机场</option>
										<option value="ERL">ERLIANHAOTE 二连浩特赛乌素机场</option>
										<option value="FUG">FUYANG 阜阳西关机场</option>
										<option value="FYN">FUYUN 富蕴可可托托海机场</option>
										<option value="FOC">FUZHOU 福州长乐国际机场</option>
										<option value="KOW">GANZHOU 赣州黄金机场</option>
										<option value="GOQ">GOLMUD 格尔木机场</option>
										<option value="GHN">GUANGHAN 广汉机场</option>
										<option value="GYS">GUANGYUAN 广元盘龙机场</option>
										<option value="CAN">GUANGZHOU 广州白云国际机场</option>
										<option value="KWL">GUILIN 桂林两江国际机场</option>
										<option value="KWE">GUIYANG 贵阳龙洞堡机场</option>
										<option value="HAK">HAIKOU 海口美兰国际机场</option>
										<option value="HLD">HAILAER 海拉尔东山机场</option>
										<option value="HMI">HAMI 哈密机场</option>
										<option value="HGH">HANGZHOU 杭州萧山国际机场</option>
										<option value="HZG">HANZHONG 汉中西关机场</option>
										<option value="HRB">HARBIN 哈尔滨太平国际机场</option>
										<option value="HCJ">HECHI 河池金城江机场</option>
										<option value="HFE">HEFEI 合肥新桥国际机场</option>
										<option value="HEK">HEIHE 黑河机场</option>
										<option value="HNY">HENGYANG 衡阳机场</option>
										<option value="HTN">HETIAN 和田机场</option>
										<option value="HIA">HUAIAN 淮安涟水机场</option>
										<option value="HJJ">HUAIHUA 怀化芷江机场</option>
										<option value="TXN">HUANGSHAN 黄山屯溪机场</option>
										<option value="HYN">HUANGYAN 黄岩路桥机场</option>
										<option value="HET">HUHEHAOTE 呼和浩特白塔机场</option>
										<option value="JMU">JIAMUSI 佳木斯东郊机场</option>
										<option value="KNC">JIAN 吉安机场</option>
										<option value="JGN">JIAYUGUAN 嘉峪关机场</option>
										<option value="SWA">JIEYANG 揭阳潮汕机场</option>
										<option value="TNA">JINAN 济南遥墙国际机场</option>
										<option value="JDZ">JINGDEZHEN 景德镇罗家机场</option>
										<option value="JGS">JINGGANGSHAN 井冈山机场</option>
										<option value="JNG">JINING 济宁机场</option>
										<option value="JNZ">JINZHOU 锦州小岭子机场</option>
										<option value="JIU">JIUJIANG 九江庐山机场</option>
										<option value="CHW">JIUQUAN 酒泉机场</option>
										<option value="JZH">JIUZHAIGOU 九寨沟黄龙机场</option>
										<option value="JXA">JIXI 鸡西机场</option>
										<option value="KRY">KARAMAY 克拉玛依机场</option>
										<option value="KHG">KASHI 喀什机场</option>
										<option value="KRL">KORLA 库尔勒机场</option>
										<option value="KMG">KUNMING 昆明长水国际机场</option>
										<option value="KCA">KUQA 库车机场</option>
										<option value="LHW">LANZHOU 兰州中川机场</option>
										<option value="LXA">LASA 拉萨贡嘎机场</option>
										<option value="LCX">LIANCHENG 连城机场</option>
										<option value="LYG">LIANYUNGANG 连云港白塔埠机场</option>
										<option value="LLB">LIBO 荔波机场</option>
										<option value="LJG">LIJIANG 丽江三义机场</option>
										<option value="LNJ">LINCHANG 临沧机场</option>
										<option value="LYI">LINYI 临沂机场</option>
										<option value="LZY">LINZHI 林芝机场</option>
										<option value="HZH">LIPING 黎平机场</option>
										<option value="LZH">LIUZHOU 柳州白莲机场</option>
										<option value="LYA">LUOYANG 洛阳北郊机场</option>
										<option value="LZO">LUZHOU 泸州蓝田机场</option>
										<option value="LUM">MANGSHI 芒市机场</option>
										<option value="NZH">MANZHOULI 满洲里机场</option>
										<option value="MXZ">MEIXIAN 梅县机场</option>
										<option value="MIG">MIANYANG 绵阳南郊机场</option>
										<option value="OHE">MOHE 漠河机场</option>
										<option value="MDG">MUDANJIANG 牡丹江海浪机场</option>
										<option value="KHN">NANCHANG 南昌昌北机场</option>
										<option value="NAO">NANCHONG 南充高坪机场</option>
										<option value="NKG">NANJING 南京禄口国际机场</option>
										<option value="NNG">NANNING 南宁吴墟机场</option>
										<option value="NTG">NANTONG 南通兴东机场</option>
										<option value="NNY">NANYANG 南阳姜营机场</option>
										<option value="NGB">NINGBO 宁波栎社机场</option>
										<option value="PZI">PANZHIHUA 攀枝花保安营机场</option>
										<option value="JIQ">QIANJIANG 黔江武陵山机场</option>
										<option value="IQM">QIEMO 且末机场</option>
										<option value="TAO">QINGDAO 青岛流亭国际机场</option>
										<option value="IQN">QINGYAN 庆阳西峰镇机场</option>
										<option value="SHP">QINHUANGDAO 秦皇岛机场</option>
										<option value="NDG">QIQIHAER 齐齐哈尔三家子机场</option>
										<option value="JJN">QUANZHOU 泉州晋江机场</option>
										<option value="JUZ">QUZHOU 衢州机场</option>
										<option value="RKZ">RIKAZE 日喀则和平机场</option>
										<option value="SYX">SANYA 三亚凤凰国际机场</option>
										<option value="PVG">SHANGHAI 上海浦东国际机场</option>
										<option value="SHA">SHANGHAI 上海虹桥国际机场</option>
										<option value="SHS">SHASHI 沙市机场</option>
										<option value="SHE">SHENYANG 沈阳桃仙国际机场</option>
										<option value="SZX">SHENZHEN 深圳宝安国际机场</option>
										<option value="SJW">SHIJIAZHUANG 石家庄正定机场</option>
										<option value="SYM">SIMAO 思茅机场</option>
										<option value="SZV">SUZHOU 苏州机场</option>
										<option value="TCG">TACHENG 塔城机场</option>
										<option value="TYN">TAIYUAN 太原武宿机场</option>
										<option value="TVS">TANGSHAN 唐山三女河机场</option>
										<option value="TSN">TIANJIN 天津滨海国际机场</option>
										<option value="TSI">TIANSHUI 天水机场</option>
										<option value="TNH">TONGHUA 通化机场</option>
										<option value="TGO">TONGLIAO 通辽机场</option>
										<option value="TEN">TONGREN 铜仁大兴机场</option>
										<option value="URC">URUMQI 乌鲁木齐地窝堡机场</option>
										<option value="WXN">WANZHOU 万州机场</option>
										<option value="WEF">WEIFANG 潍坊机场</option>
										<option value="WEH">WEIHAI 威海大水泊机场</option>
										<option value="WNZ">WENZHOU 温州永强机场</option>
										<option value="WUA">WUHAI 乌海机场</option>
										<option value="WUH">WUHAN 武汉天河国际机场</option>
										<option value="HLH">WULANHAOTE 乌兰浩特机场</option>
										<option value="WUX">WUXI 无锡硕放机场</option>
										<option value="WUS">WUYISHAN 武夷山机场</option>
										<option value="WUZ">WUZHOU 梧州长州岛机场</option>
										<option value="XMN">XIAMEN 厦门高崎国际机场</option>
										<option value="XIY">XIAN 西安咸阳国际机场</option>
										<option value="XFN">XIANGFAN 襄樊刘集机场</option>
										<option value="XIC">XICHANG 西昌青山机场</option>
										<option value="XIL">XILINHAOTE 锡林浩特机场</option>
										<option value="ACX">XINGYI 兴义机场</option>
										<option value="XNN">XINING 西宁曹家堡机场</option>
										<option value="XNN">XINING 西宁曹家堡机场</option>
										<option value="JHG">XISHUANGBANNA 西双版纳景洪机场</option>
										<option value="XUZ">XUZHOU 徐州观音机场</option>
										<option value="ENY">YANAN 延安二十里铺机场</option>
										<option value="YNZ">YANCHENG 盐城南洋机场</option>
										<option value="YTY">YANGZHOU 扬州泰州机场</option>
										<option value="YNJ">YANJI 延吉朝阳川机场</option>
										<option value="YNT">YANTAI 烟台莱山机场</option>
										<option value="YBP">YIBIN 宜宾菜坝机场</option>
										<option value="YIH">YICHANG 宜昌三峡机场</option>
										<option value="LDS">YICHUN 伊春机场</option>
										<option value="INC">YINCHUAN 银川河东机场</option>
										<option value="YKH">YINGKOU 营口兰旗机场</option>
										<option value="YIN">YINING 伊宁机场</option>
										<option value="YIW">YIWU 义乌机场</option>
										<option value="LLF">YONGZHOU 永州零陵机场</option>
										<option value="UYN">YULIN 榆林西沙机场</option>
										<option value="YCU">YUNCHENG 运城张孝机场</option>
										<option value="YUS">YUSHU 玉树机场</option>
										<option value="DYG">ZHANGJIAJIE 张家界荷花机场</option>
										<option value="ZQZ">ZHANGJIAKOU 张家口宁远机场</option>
										<option value="ZHA">ZHANJIANG 湛江机场</option>
										<option value="ZAT">ZHAOTONG 昭通机场</option>
										<option value="CGO">ZHENGZHOU 郑州新郑机场</option>
										<option value="DIG">ZHONGDIAN 迪庆香格里拉机场</option>
										<option value="ZHY">ZHONGWEI 中卫机场</option>
										<option value="HSN">ZHOUSHAN 舟山普陀山机场</option>
										<option value="ZUH">ZHUHAI 珠海三灶机场</option>
										<option value="ZYI">ZUNYI 遵义机场</option>
								</select></td>
							</tr>
							<tr>
								<td class="alt">到达航站:</td>
								<td colspan="3">
									<select name="arrPort" title="请选择到达航站" id="arrPort">
											<option value="AKU">AKESU 阿克苏温宿机场</option>
											<option value="AAT">ALTAY 阿勒泰机场</option>
											<option value="AKA">ANKANG 安康五里铺机场</option>
											<option value="AQG">ANQING 安庆大龙山机场</option>
											<option value="AOG">ANSHAN 鞍山机场</option>
											<option value="AVA">ANSHUN 安顺黄果树机场</option>
											<option value="AYG">ANYANG 安阳机场</option>
											<option value="BSD">BAOSHAN 保山机场</option>
											<option value="BAV">BAOTOU 包头二里半机场</option>
											<option value="RLK">BAYANZHUOE 巴彦淖尔天吉泰机场</option>
											<option value="BHY">BEIHAI 北海福成机场</option>
											<option value="NAY">BEIJING 北京南苑机场</option>
											<option value="PEK">BEIJING 北京首都国际机场</option>
											<option value="BFU">BENGBU 蚌埠机场</option>
											<option value="NBS">CHANGBAISHAN 白山长白山机场</option>
											<option value="CGQ">CHANGCHUN 长春龙嘉国际机场</option>
											<option value="CGD">CHANGDE 常德桃花源机场</option>
											<option value="BPX">CHANGDU 昌都邦达机场</option>
											<option value="CNI">CHANGHAI 长海大长山岛机场</option>
											<option value="CSX">CHANGSHA 长沙黄花国际机场</option>
											<option value="CIH">CHANGZHI 长治王村机场</option>
											<option value="CZX">CHANGZHOU 常州奔牛机场</option>
											<option value="CHG">CHAOYANG 朝阳机场</option>
											<option value="CTU">CHENGDU 成都双流国际机场</option>
											<option value="CIF">CHIFENG 赤峰土城子机场</option>
											<option value="CKG">CHONGQING 重庆江北机场</option>
											<option value="DLC">DALAN 大连周水子机场</option>
											<option value="DLU">DALI 大理机场</option>
											<option value="DDG">DANDONG 丹东浪头机场</option>
											<option value="DCY">DAOCHENG 稻城亚丁机场</option>
											<option value="DQA">DAQING 大庆机场</option>
											<option value="DAT">DATONG 大同倍加皂机场</option>
											<option value="DAX">DAZHOU 达州河市霸机场</option>
											<option value="DOY">DONGYING 东营机场</option>
											<option value="DNH">DUNHUANG 敦煌机场</option>
											<option value="DSN">EERDUOSI 鄂尔多斯伊金霍洛机场</option>
											<option value="ENH">ENSHI 恩施许家坪机场</option>
											<option value="ERL">ERLIANHAOTE 二连浩特赛乌素机场</option>
											<option value="FUG">FUYANG 阜阳西关机场</option>
											<option value="FYN">FUYUN 富蕴可可托托海机场</option>
											<option value="FOC">FUZHOU 福州长乐国际机场</option>
											<option value="KOW">GANZHOU 赣州黄金机场</option>
											<option value="GOQ">GOLMUD 格尔木机场</option>
											<option value="GHN">GUANGHAN 广汉机场</option>
											<option value="GYS">GUANGYUAN 广元盘龙机场</option>
											<option value="CAN">GUANGZHOU 广州白云国际机场</option>
											<option value="KWL">GUILIN 桂林两江国际机场</option>
											<option value="KWE">GUIYANG 贵阳龙洞堡机场</option>
											<option value="HAK">HAIKOU 海口美兰国际机场</option>
											<option value="HLD">HAILAER 海拉尔东山机场</option>
											<option value="HMI">HAMI 哈密机场</option>
											<option value="HGH">HANGZHOU 杭州萧山国际机场</option>
											<option value="HZG">HANZHONG 汉中西关机场</option>
											<option value="HRB">HARBIN 哈尔滨太平国际机场</option>
											<option value="HCJ">HECHI 河池金城江机场</option>
											<option value="HFE">HEFEI 合肥新桥国际机场</option>
											<option value="HEK">HEIHE 黑河机场</option>
											<option value="HNY">HENGYANG 衡阳机场</option>
											<option value="HTN">HETIAN 和田机场</option>
											<option value="HIA">HUAIAN 淮安涟水机场</option>
											<option value="HJJ">HUAIHUA 怀化芷江机场</option>
											<option value="TXN">HUANGSHAN 黄山屯溪机场</option>
											<option value="HYN">HUANGYAN 黄岩路桥机场</option>
											<option value="HET">HUHEHAOTE 呼和浩特白塔机场</option>
											<option value="JMU">JIAMUSI 佳木斯东郊机场</option>
											<option value="KNC">JIAN 吉安机场</option>
											<option value="JGN">JIAYUGUAN 嘉峪关机场</option>
											<option value="SWA">JIEYANG 揭阳潮汕机场</option>
											<option value="TNA">JINAN 济南遥墙国际机场</option>
											<option value="JDZ">JINGDEZHEN 景德镇罗家机场</option>
											<option value="JGS">JINGGANGSHAN 井冈山机场</option>
											<option value="JNG">JINING 济宁机场</option>
											<option value="JNZ">JINZHOU 锦州小岭子机场</option>
											<option value="JIU">JIUJIANG 九江庐山机场</option>
											<option value="CHW">JIUQUAN 酒泉机场</option>
											<option value="JZH">JIUZHAIGOU 九寨沟黄龙机场</option>
											<option value="JXA">JIXI 鸡西机场</option>
											<option value="KRY">KARAMAY 克拉玛依机场</option>
											<option value="KHG">KASHI 喀什机场</option>
											<option value="KRL">KORLA 库尔勒机场</option>
											<option value="KMG">KUNMING 昆明长水国际机场</option>
											<option value="KCA">KUQA 库车机场</option>
											<option value="LHW">LANZHOU 兰州中川机场</option>
											<option value="LXA">LASA 拉萨贡嘎机场</option>
											<option value="LCX">LIANCHENG 连城机场</option>
											<option value="LYG">LIANYUNGANG 连云港白塔埠机场</option>
											<option value="LLB">LIBO 荔波机场</option>
											<option value="LJG">LIJIANG 丽江三义机场</option>
											<option value="LNJ">LINCHANG 临沧机场</option>
											<option value="LYI">LINYI 临沂机场</option>
											<option value="LZY">LINZHI 林芝机场</option>
											<option value="HZH">LIPING 黎平机场</option>
											<option value="LZH">LIUZHOU 柳州白莲机场</option>
											<option value="LYA">LUOYANG 洛阳北郊机场</option>
											<option value="LZO">LUZHOU 泸州蓝田机场</option>
											<option value="LUM">MANGSHI 芒市机场</option>
											<option value="NZH">MANZHOULI 满洲里机场</option>
											<option value="MXZ">MEIXIAN 梅县机场</option>
											<option value="MIG">MIANYANG 绵阳南郊机场</option>
											<option value="OHE">MOHE 漠河机场</option>
											<option value="MDG">MUDANJIANG 牡丹江海浪机场</option>
											<option value="KHN">NANCHANG 南昌昌北机场</option>
											<option value="NAO">NANCHONG 南充高坪机场</option>
											<option value="NKG">NANJING 南京禄口国际机场</option>
											<option value="NNG">NANNING 南宁吴墟机场</option>
											<option value="NTG">NANTONG 南通兴东机场</option>
											<option value="NNY">NANYANG 南阳姜营机场</option>
											<option value="NGB">NINGBO 宁波栎社机场</option>
											<option value="PZI">PANZHIHUA 攀枝花保安营机场</option>
											<option value="JIQ">QIANJIANG 黔江武陵山机场</option>
											<option value="IQM">QIEMO 且末机场</option>
											<option value="TAO">QINGDAO 青岛流亭国际机场</option>
											<option value="IQN">QINGYAN 庆阳西峰镇机场</option>
											<option value="SHP">QINHUANGDAO 秦皇岛机场</option>
											<option value="NDG">QIQIHAER 齐齐哈尔三家子机场</option>
											<option value="JJN">QUANZHOU 泉州晋江机场</option>
											<option value="JUZ">QUZHOU 衢州机场</option>
											<option value="RKZ">RIKAZE 日喀则和平机场</option>
											<option value="SYX">SANYA 三亚凤凰国际机场</option>
											<option value="PVG">SHANGHAI 上海浦东国际机场</option>
											<option value="SHA">SHANGHAI 上海虹桥国际机场</option>
											<option value="SHS">SHASHI 沙市机场</option>
											<option value="SHE">SHENYANG 沈阳桃仙国际机场</option>
											<option value="SZX">SHENZHEN 深圳宝安国际机场</option>
											<option value="SJW">SHIJIAZHUANG 石家庄正定机场</option>
											<option value="SYM">SIMAO 思茅机场</option>
											<option value="SZV">SUZHOU 苏州机场</option>
											<option value="TCG">TACHENG 塔城机场</option>
											<option value="TYN">TAIYUAN 太原武宿机场</option>
											<option value="TVS">TANGSHAN 唐山三女河机场</option>
											<option value="TSN">TIANJIN 天津滨海国际机场</option>
											<option value="TSI">TIANSHUI 天水机场</option>
											<option value="TNH">TONGHUA 通化机场</option>
											<option value="TGO">TONGLIAO 通辽机场</option>
											<option value="TEN">TONGREN 铜仁大兴机场</option>
											<option value="URC">URUMQI 乌鲁木齐地窝堡机场</option>
											<option value="WXN">WANZHOU 万州机场</option>
											<option value="WEF">WEIFANG 潍坊机场</option>
											<option value="WEH">WEIHAI 威海大水泊机场</option>
											<option value="WNZ">WENZHOU 温州永强机场</option>
											<option value="WUA">WUHAI 乌海机场</option>
											<option value="WUH">WUHAN 武汉天河国际机场</option>
											<option value="HLH">WULANHAOTE 乌兰浩特机场</option>
											<option value="WUX">WUXI 无锡硕放机场</option>
											<option value="WUS">WUYISHAN 武夷山机场</option>
											<option value="WUZ">WUZHOU 梧州长州岛机场</option>
											<option value="XMN">XIAMEN 厦门高崎国际机场</option>
											<option value="XIY">XIAN 西安咸阳国际机场</option>
											<option value="XFN">XIANGFAN 襄樊刘集机场</option>
											<option value="XIC">XICHANG 西昌青山机场</option>
											<option value="XIL">XILINHAOTE 锡林浩特机场</option>
											<option value="ACX">XINGYI 兴义机场</option>
											<option value="XNN">XINING 西宁曹家堡机场</option>
											<option value="XNN">XINING 西宁曹家堡机场</option>
											<option value="JHG">XISHUANGBANNA 西双版纳景洪机场</option>
											<option value="XUZ">XUZHOU 徐州观音机场</option>
											<option value="ENY">YANAN 延安二十里铺机场</option>
											<option value="YNZ">YANCHENG 盐城南洋机场</option>
											<option value="YTY">YANGZHOU 扬州泰州机场</option>
											<option value="YNJ">YANJI 延吉朝阳川机场</option>
											<option value="YNT">YANTAI 烟台莱山机场</option>
											<option value="YBP">YIBIN 宜宾菜坝机场</option>
											<option value="YIH">YICHANG 宜昌三峡机场</option>
											<option value="LDS">YICHUN 伊春机场</option>
											<option value="INC">YINCHUAN 银川河东机场</option>
											<option value="YKH">YINGKOU 营口兰旗机场</option>
											<option value="YIN">YINING 伊宁机场</option>
											<option value="YIW">YIWU 义乌机场</option>
											<option value="LLF">YONGZHOU 永州零陵机场</option>
											<option value="UYN">YULIN 榆林西沙机场</option>
											<option value="YCU">YUNCHENG 运城张孝机场</option>
											<option value="YUS">YUSHU 玉树机场</option>
											<option value="DYG">ZHANGJIAJIE 张家界荷花机场</option>
											<option value="ZQZ">ZHANGJIAKOU 张家口宁远机场</option>
											<option value="ZHA">ZHANJIANG 湛江机场</option>
											<option value="ZAT">ZHAOTONG 昭通机场</option>
											<option value="CGO">ZHENGZHOU 郑州新郑机场</option>
											<option value="DIG">ZHONGDIAN 迪庆香格里拉机场</option>
											<option value="ZHY">ZHONGWEI 中卫机场</option>
											<option value="HSN">ZHOUSHAN 舟山普陀山机场</option>
											<option value="ZUH">ZHUHAI 珠海三灶机场</option>
											<option value="ZYI">ZUNYI 遵义机场</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="alt">正文：</td>
								<td colspan="4"><textarea width="100%" name="cptContent" id="cptContent" rows="22" cols="90" title="请输入正文内容">请输入正文内容</textarea></td>
							</tr>
							<tr>
								<td class="alt">附件一：</td>
								<td><input type="file" name="myfiles" id="uploadFile1" value="选择文件" title="请选择文件">
								</td>

								<td class="alt">附件二：</td>
								<td><input type="file" name="myfiles" id="uploadFile2" value="选择文件" title="请选择文件">
								</td>
							</tr>
							<tr>
								<td class="alt">附件三：</td>
								<td><input type="file" name="myfiles" id="uploadFile3" value="选择文件" title="请选择文件"></td>
								<td class="alt">附件四：</td>
								<td><input type="file" name="myfiles" id="uploadFile4" value="选择文件" title="请选择文件"></td>
							</tr>
							<tr>
								<td class="alt">附件五：</td>
								<td><input type="file" name="myfiles" id="uploadFile5" value="选择文件" title="请选择文件"></td>
								<td class="alt">验证码:</td>
								<td>
									<input type="text" name="certicode" id="certicode" value="请输入验证码" title="请输入验证码" onfocus="esdonfocus(this);"/>
									<img id="verifyImage" title="验证码" alt="验证码" />
									<a href="static:javascript:imgonfocus();" title="播放验证码"><img id="audio" src="../etc/image/volume2.png" alt="播放验证码" title="播放验证码" /></a>
									<input type="hidden" id="voicepath" />
								</td>
							</tr>
							<tr>
								<td colspan="25" class="h"></td>
							</tr>
						</tbody>
					</table>
					<div>
						<div>
							<div class="btn1">
								<input type="submit" value="提交" title="提交"/>
								<input type="button" value="返回" title="返回" onclick="window.history.back(-1);"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	</div>
	<script type="text/javascript" src="../etc/tool/Voice.js"></script>
	<include src="footer.html" />
</body>
</html>