<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="中国民用航空局消费者事务中心网站,中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="description" content="中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/xfzhklxzn.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/xfzhklxzn.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav"></div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="zfxx_title">
					</h3>
				</div>
				<div id="zfxx" class="txt">
<ul id="slideshow">
			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4200.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020130410543672652336.jpg" alt="消费者指南－1_页面_01.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4199.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020130410543766563406.jpg" alt="消费者指南－1_页面_02.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4198.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411373847658218.jpg" alt="2014_03.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4197.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411374148120392.jpg" alt="2014_04.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201404/t20140411_4907.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201404/W020140411374869212630.jpg" alt="2014_05.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201404/t20140411_4908.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201404/W020140411375057652256.jpg" alt="2014_06.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4196.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411375473754075.jpg" alt="2014_07.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4195.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411380036875426.jpg" alt="2014_08.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4194.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411380170310344.jpg" alt="2014_09.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4193.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411380302965665.jpg" alt="2014_10.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4192.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411380452653978.jpg" alt="2014_11.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201404/t20140411_4909.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201404/W020140411380701091519.jpg" alt="2014_12.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4190.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411380882813730.jpg" alt="2014_13.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4189.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020130410550585628090.jpg" alt="消费者指南－1_页面_14.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4188.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411381504847453.jpg" alt="2014_15.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4187.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411381675314783.jpg" alt="2014_16.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4186.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411381808592316.jpg" alt="2014_17.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4185.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411381916258255.jpg" alt="2014_18.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4184.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411382019841077.jpg" alt="2014_19.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4183.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411382138437387.jpg" alt="2014_20.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4182.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411386048902446.jpg" alt="2014_21.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4181.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411386162032892.jpg" alt="2014_22.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4180.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411386275312039.jpg" alt="2014_23.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4179.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411386449217638.jpg" alt="2014_24.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201404/t20140411_4910.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201404/W020140411386742814037.jpg" alt="2014_25.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4177.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411472959685801.jpg" alt="2014_26.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4176.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411473092652491.jpg" alt="2014_27.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201404/t20140411_4911.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201404/W020140411473322655010.jpg" alt="2014_28.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4175.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411473668750531.jpg" alt="2014_29.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4174.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411473781251514.jpg" alt="2014_30.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4173.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411473874371885.jpg" alt="2014_31.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4172.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411473986879881.jpg" alt="2014_32.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4171.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411474102657506.jpg" alt="2014_33.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4170.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411474405933473.jpg" alt="2014_34.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4169.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411474538902969.jpg" alt="2014_35.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4168.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411474641098814.jpg" alt="2014_36.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4167.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411474776715449.jpg" alt="2014_37.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4166.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411474889537803.jpg" alt="2014_38.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4165.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411475007340020.jpg" alt="2014_39.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4164.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411475220625266.jpg" alt="2014_40.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4163.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411476327033790.jpg" alt="2014_41.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4162.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411476500465816.jpg" alt="2014_42.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4161.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411476637652949.jpg" alt="2014_43.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4160.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411476758123178.jpg" alt="2014_44.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201404/t20140411_4912.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201404/W020140411476954842197.jpg" alt="2014_45.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201404/t20140411_4913.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201404/W020140411477152347204.jpg" alt="2014_46.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201404/t20140411_4914.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201404/W020140411478091407507.jpg" alt="2014_47.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4159.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411477587348625.jpg" alt="2014_48.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4158.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411477727658846.jpg" alt="2014_49.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4157.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411477834849298.jpg" alt="2014_50.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4156.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411479582346136.jpg" alt="2014_51.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201404/t20140411_4915.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201404/W020140411481148753682.jpg" alt="2014_52.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4154.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411479800310233.jpg" alt="2014_53.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4153.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411479935787727.jpg" alt="2014_54.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4152.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411480041408792.jpg" alt="2014_55.jpg" title="图片"/></a>
		</li>

			<li>
			<p></p>
			<a href="http://www.caacca.org/lksc/hklxzn/201304/t20130408_4151.html" title="图片"><img src="http://www.caacca.org/lksc/hklxzn/201304/W020140411480160460986.jpg" alt="2014_56.jpg" title="图片"/></a>
		</li>
	</ul>				
				</div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>