<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>消费者航空旅行指南--中国民用航空局消费者事务中心</title>
<meta http-equiv="keywords" content="中国民用航空局消费者事务中心网站,中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="description" content="中国民用航空局消费者事务中心无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/xfzhklxzn.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/xfzhklxzn.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav">
			<span>当前位置：</span> <a href="http://www.caacca.org/" title="首页">首页</a>&nbsp;&gt;&nbsp; 
			<a href="http://www.caacca.org/lksc/" title="旅客手册">旅客手册</a>&nbsp;&gt;&nbsp;
			<a href="http://www.caacca.org/lksc/hklxzn/" title="消费者航空旅行指南">消费者航空旅行指南</a>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="zfxx_title">
						<a href="http://www.caacca.org/lksc/hklxzn/" title="消费者航空旅行指南">消费者航空旅行指南</a>
					</h3>
				</div>
				<div id="zfxx" class="txt"></div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>