<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>信息公开</title>
<meta http-equiv="keywords" content="北京工商局无障碍网站,北京工商局无障碍" />
<meta http-equiv="description" content="北京工商局无障碍网站" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/xxgk.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/xxgk.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav"></div>
		
		<div class="block2 block3 block4">
			<div id="xzgl_title" class="title">
				<h3>局领导简介</h3>
			</div>
			<div id="xzgl" class="txt"></div>
		</div>
		<div class="block2 block3">
			<div id="ldhd_title" class="title">
				<h3><a href="http://www.baic.gov.cn/xxgk/ggjcbg/">广告监测报告</a></h3>
			</div>
			<div id="ldhd" class="txt"></div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="zfxx_title" class="title">
					<h3><a href="http://www.baic.gov.cn/xxgk/tzgg/">通知公告</a></h3>
				</div>
				<div id="zfxx" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="ztff_title" class="title">
					<h3><a href="http://www.baic.gov.cn/xxgk/jqdt/sjdt/">市局动态</a></h3>
				</div>
				<div id="ztff" class="txt"></div>
			</div>
		</div>

		<div class="col">
			<div class="block2">
				<div id="fjdt_title" class="title">
					<h3><a href="http://www.baic.gov.cn/xxgk/jqdt/fjdt/">分局动态</a></h3>
				</div>
				<div id="fjdt" class="txt"></div>
			</div>
		</div>
				
		
		<div class="col">
			<div class="block2">
				<div id="bmdt_title" class="title">
					<h3><a href="http://www.baic.gov.cn/xxgk/spzlgs/">商品质量公示</a></h3>
				</div>
<!-- 				<div id="bmdt_dl"></div> -->
				<div id="bmdt" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="zfgzbg_title" class="title">
					<h3><a href="http://www.baic.gov.cn/xxgk/zfgzdt/">执法工作</a></h3>
				</div>
				<div id="zfgzbg" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div id="ghsj_title" class="title">
					<h3><a href="http://www.baic.gov.cn/xxgk/fenxi/">消费投诉分析</a></h3>
				</div>
				<div id="ghsj" class="txt"></div>
			</div>
		</div>
		
					
					
<!-- 		<div class="block2 block3 block6"> -->
<!-- 			<div id="rlzy" class="txt"></div> -->
<!-- 		</div> -->
			</div>
	<include src="footer.html" />
</body>
</html>