<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="松原市人民政府网站,松原市人民政府无障碍" />
<meta http-equiv="description" content="松原市人民政府无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/yjgl.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/yjgl.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav"></div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="syyw_title"></h3>
					<div class="more">
						<h4 id="syyw_more"></h4>
					</div>
				</div>
				<div id="syyw" class="txt"></div>
			</div>
		</div>
		
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="xqdt_title"></h3>
					<div class="more">
						<h4 id="xqdt_more"></h4>
					</div>
				</div>
				<div id="xqdt" class="txt"></div>
			</div>
		</div>
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="bmdt_title"></h3>
					<div class="more">
						<h4 id="bmdt_more"></h4>
					</div>
				</div>
				<div id="bmdt" class="txt"></div>
			</div>
		</div>
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="sjsy_title"></h3>
					<div class="more">
						<h4 id="sjsy_more"></h4>
					</div>
				</div>
				<div id="sjsy" class="txt"></div>
			</div>
		</div>
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="bmya_title"></h3>
					<div class="more">
						<h4 id="bmya_more"></h4>
					</div>
				</div>
				<div id="bmya" class="txt"></div>
			</div>
		</div>
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="zxya_title"></h3>
					<div class="more">
						<h4 id="zxya_more"></h4>
					</div>
				</div>
				<div id="zxya" class="txt"></div>
			</div>
		</div>
		
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="tfsjal_title"></h3>
					<div class="more">
						<h4 id="tfsjal_more"></h4>
					</div>
				</div>
				<div id="tfsjal" class="txt"></div>
			</div>
		</div>
		
		
		
		
		
		
	</div>
	<include src="footer.html" />
</body>
</html>