<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="松原市人民政府网站,松原市人民政府无障碍" />
<meta http-equiv="description" content="松原市人民政府无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/zfxxgk.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/zfxxgk.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav">
			<span>当前位置：</span><a href="http://www.jlsy.gov.cn/" title="首页">首页</a>
			 &gt;&gt;  
			<a href="http://139.209.60.6/zwdtSjgl/index.htm" title="松原市信息公开目录">松原市信息公开目录</a>		
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="syyw_title"></h3>
<!-- 					<div class="more"> -->
<!-- 						<h4 id="syyw_more"></h4> -->
<!-- 					</div> -->
				</div>
				<div id="syyw" class="txt">
					<ul>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201603310118350737"
							title=" 松原市2015年政府信息公开年度报告"> 松原市2015年政府信息公开年度报告</a><span>
								 2016-03-31</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201510280725530423"
							title=" 松原市财政局2014年决算信息公开"> 松原市财政局2014年决算信息公开</a><span>
								 2015-10-28</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201510280749180408"
							title=" 松原市（财政局）2014年“三公”经费财政拨款决算情况表"> 松原市（财政局）2014年“三公”经费财政拨款决算情况表</a><span>
								 2015-10-28</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201510280742060970"
							title=" 松原市财政局2014年财政拨款支出决算表"> 松原市财政局2014年财政拨款支出决算表</a><span>
								 2015-10-28</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201503270315500599"
							title=" 松原市质量技术监督局2014年信息公开工作年度报告"> 松原市质量技术监督局2014年信息公开工作年度报告</a><span>
								 2015-03-27</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201503270324200067"
							title=" 消防支队2014年政府信息公开工作年度报告"> 消防支队2014年政府信息公开工作年度报告</a><span>
								 2015-03-27</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201503270328150349"
							title=" 松原市统计局政府信息公开年度报告"> 松原市统计局政府信息公开年度报告</a><span>
								 2015-03-27</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201503270329580552"
							title=" 松原市2014年政府信息公开年度报告"> 松原市2014年政府信息公开年度报告</a><span>
								 2015-03-27</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="xqdt_title"></h3>
<!-- 					<div class="more"> -->
<!-- 						<h4 id="xqdt_more"></h4> -->
<!-- 					</div> -->
				</div>
				<div id="xqdt" class="txt">
					<ul>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201611100615330335"
							title=" 国家税务总局明确高档化妆品消费税征收管理事项"> 国家税务总局明确高档化妆品消费税征收管理事项</a><span>
								 </span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201611100623000804"
							title=" 国家税务总局关于规范全国千户集团及其成员企业纳税申报时附..."> 国家税务总局关于规范全国千户集团及其成员企业纳税申报时附...</a><span>
								 </span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201611100620250476"
							title=" 吉林省国家税务局关于出口退（免）税无纸化管理试点工作有关..."> 吉林省国家税务局关于出口退（免）税无纸化管理试点工作有关...</a><span>
								 </span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201611140056510374"
							title=" 松原市水利局基本概况及主要职能"> 松原市水利局基本概况及主要职能</a><span>
								 2016-11-14</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201611100249570961"
							title=" 松原市交通运输局关于调整部分局领导工作分工的通知"> 松原市交通运输局关于调整部分局领导工作分工的通知</a><span>
								 2016-11-10</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201611100742500289"
							title=" 中华人民共和国仲裁法"> 中华人民共和国仲裁法</a><span>  2016-11-10</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201611100652200210"
							title=" 关于暂缓办理用人单位延期缴纳社会保险费的通知"> 关于暂缓办理用人单位延期缴纳社会保险费的通知</a><span>
								 2016-11-10</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/Directory/showDir.jsp?keyid=PI201611100629400585"
							title=" 松原市社会保险服务大厅正式投入使用"> 松原市社会保险服务大厅正式投入使用</a><span>
								 2016-11-10</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="bmdt_title"></h3>
<!-- 					<div class="more"> -->
<!-- 						<h4 id="bmdt_more"></h4> -->
<!-- 					</div> -->
				</div>
				<div id="bmdt" class="txt">
					<ul>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/infoDetail.jsp?id=446"
							title=" 2016年全市政务公开工作要点"> 2016年全市政务公开工作要点</a><span>
								 2016-08-22</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/infoDetail.jsp?id=445"
							title=" 松原市人社局把好“五个关口”确保企业薪酬试调查工作圆满完成"> 松原市人社局把好“五个关口”确保企业薪酬试调查工作圆满完成</a><span>
								 2016-08-22</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/infoDetail.jsp?id=444"
							title=" 2016年松原市高校学子归巢计划暨事业单位公开招聘工作人..."> 2016年松原市高校学子归巢计划暨事业单位公开招聘工作人...</a><span>
								 2016-08-22</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/infoDetail.jsp?id=443"
							title=" 松原市财政局全力抓好收入组织工作"> 松原市财政局全力抓好收入组织工作</a><span>
								 2016-08-22</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/infoDetail.jsp?id=442"
							title=" 松原市食药监局新承接四大类食品生产许可审批权"> 松原市食药监局新承接四大类食品生产许可审批权</a><span>
								 2016-08-22</span>
						</li>
						<li><a
							href="http://139.209.60.6/zwdtSjgl/infoDetail.jsp?id=441"
							title=" 松原市食药监局开展皮冻等肉制品中涉嫌非法添加非食用物质专..."> 松原市食药监局开展皮冻等肉制品中涉嫌非法添加非食用物质专...</a><span>
								 2016-08-22</span>
						</li>
					</ul>

				</div>
			</div>
		</div>
		
<!-- 		<div class="col"> -->
<!-- 			<div class="block2"> -->
<!-- 				<div class="title"> -->
<!-- 					<h3 id="sjsy_title"></h3> -->
<!-- 					<div class="more"> -->
<!-- 						<h4 id="sjsy_more"> -->
<!-- 							<a href="http://www.jlsy.gov.cn/xw/sjsy/" title="更多">更多&gt;&gt;</a> -->
<!-- 						</h4> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div id="sjsy" class="txt"></div> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
		
		
		
		
		
		
		
		
		
	</div>
	<include src="footer.html" />
</body>
</html>