<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="keywords" content="松原市人民政府网站,松原市人民政府无障碍" />
<meta http-equiv="description" content="松原市人民政府无障碍" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<script type="text/javascript" src="../etc/js/zw.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/zw.css" />
<title>政务</title>
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div id="NewsShowConter_nav"></div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="ld_title"></h3>
				</div>
				<div id="ldimg" class="txt3"></div>
				<div id="ld_content" class="txt3"></div>
				<div id="ld_content2" class="txt3"></div>
				<div class="clearboth"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="syyw_title"></h3>
				</div>
				<div id="syyw" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="xqdt_title"></h3>
				</div>
				<div id="xqdt" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="bmdt_title"></h3>
				</div>
				<div id="bmdt" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="sjsy_title"></h3>
				</div>
				<div id="sjsy" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="szbmd_title"></h3>
				</div>
				<div id="szbmd" class="txt"></div>
			</div>
		</div>
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="zdlyzfxx_title"></h3>
				</div>
				<div id="zdlyzfxx" class="txt2">
					<ul>
						<li>
                            <a href="http://www.jlsyzw.gov.cn/" title="行政审批信息">行政审批信息</a><span></span>
						</li>
						
						<li>
                            <a href="http://www.jlsy.gov.cn/zw/jssgjf/" title="财政预决算和"三公"经费">财政预决算和"三公"经费</a><span></span>
						</li>
						
						<li>
                            <a href="http://zt.jlsy.gov.cn/bzxzf/" title="保障性住房信息">保障性住房信息</a><span></span>
						</li>
						
						<li>
                            <a href="http://www.jlsyfda.gov.cn/" title="食品药品安全信息">食品药品安全信息</a>
						</li>
						
						<li>
                            <a href="http://www.hbjsy.gov.cn/" title="环境保护信息">环境保护信息</a>
						</li>
						
						<li>
                            <a href="http://www.syssafety.gov.cn/" title="安全生产信息">安全生产信息</a>
						</li>
						
						<li>
                            <a href="http://www.jlsy.gov.cn/zw/tjgg/" title="统计公告">统计公告</a>
						</li>
						
						<li>
                            <a href="http://www.jlsy.gov.cn/zw/qlqdgs/" title="权力清单公示">权力清单公示</a>
						</li>
						
						<li>
                            <a href="http://www.syzfcg.gov.cn/" title="政府采购">政府采购</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="tzgg_title"></h3>
				</div>
				<div id="tzgg" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="zfcwh_title"></h3>
				</div>
				<div id="zfcwh" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="zfdzh_title"></h3>
				</div>
				<div id="zfdzh" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="rsrm_title"></h3>
				</div>
				<div id="rsrm" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="gwyzl_title"></h3>
				</div>
				<div id="gwyzl" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="zfgzbg_title"></h3>
				</div>
				<div id="zfgzbg" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="jytabl_title"></h3>
				</div>
				<div id="jytabl" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="czys_title"></h3>
				</div>
				<div id="czys" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="czjs_title"></h3>
				</div>
				<div id="czjs" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="fzgh_title"></h3>
				</div>
				<div id="fzgh" class="txt"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="szfzcbm_title"></h3>
				</div>
				<div id="szfzcbm" class="txt2"></div>
			</div>
		</div>
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="szfzsjg_title"></h3>
				</div>
				<div id="szfzsjg" class="txt2"></div>
			</div>
		</div>
		
		<div class="col">
			<div class="block2">
				<div class="title">
					<h3 id="qtbm_title"></h3>
				</div>
				<div id="qtbm" class="txt2"></div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>