<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>在线办事</title>
<meta http-equiv="keywords" content="北京工商局无障碍网站,北京工商局无障碍" />
<meta http-equiv="description" content="北京工商局无障碍网站" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="../etc/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../etc/js/public.js"></script>
<link rel="stylesheet" type="text/css" href="../etc/styles/public.css" />
<link rel="stylesheet" type="text/css" href="../etc/styles/zxbs.css" />
</head>
<body>
	<include src="header.html" />
	<div class="main">
		<div class="zxbs_bg1">
			<div class="zxbs_fl1">
				<div class="zxbs_mk1"></div>
				<div class="zxbs_mk2"></div>
				<div class="zxbs_mk3"></div>
				<div class="zxbs_mk4"></div>
				<div class="zxbs_mk5a"></div>
			</div>
			<div class="zxbs_fl2">
				<div class="zxbs_mk7"></div>
				<div class="zxbs_mk8"></div>
				<div class="zxbs_mk9"></div>
			</div>
			<div class="zxbs_fl3">
				<div class="zxbs_mk10"></div>
			</div>
		</div>
	</div>
	<include src="footer.html" />
</body>
</html>